Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

chore: remove StoryProtocol infrastructure project
  Mystira.App.sln
  protos/mystira/chain/v1/chain_service.proto
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Infrastructure.StoryProtocol/HealthChecks/ChainServiceHealthCheck.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/README.md
  src/Mystira.App.Infrastructure.StoryProtocol/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/MockStoryProtocolService.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolClient.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolService.cs
  src/Mystira.App.Infrastructure.StoryProtocol/integration-guide.md
Due: unittests, API, Infrastructure StoryProtocol

fix: resolve Swashbuckle 10.0 and bUnit 2.x breaking changes
  src/Mystira.App.Api/Mystira.App.Api.csproj
  tests/Mystira.App.PWA.Tests/Components/ErrorBoundaryWrapperTests.cs
  tests/Mystira.App.PWA.Tests/Components/LoadingIndicatorTests.cs
  tests/Mystira.App.PWA.Tests/Components/ToastContainerTests.cs
  tests/Mystira.App.PWA.Tests/Pages/AchievementsPageTests.cs
Due: unittests, API

fix: update Microsoft.OpenApi to 2.3.0 for Swashbuckle 10.0 compatibility
  src/Mystira.App.Api/Mystira.App.Api.csproj
Due: unittests, API

fix: downgrade Swashbuckle to 7.2.0 for Microsoft.OpenApi 1.x compatibility
  src/Mystira.App.Api/Mystira.App.Api.csproj
Due: unittests, API

chore: remove StoryProtocol test files
  tests/Mystira.App.Api.Tests/HealthChecks/ChainServiceHealthCheckTests.cs
  tests/Mystira.App.Api.Tests/Services/StoryProtocolServiceRegistrationTests.cs
Due: none

Resolve NuGet dependency warning in PWA project (#601)
  Mystira.App.sln
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mappers/ScenarioMapper.cs
  src/Mystira.App.Infrastructure.StoryProtocol/HealthChecks/ChainServiceHealthCheck.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/README.md
  src/Mystira.App.Infrastructure.StoryProtocol/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/MockStoryProtocolService.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolClient.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolService.cs
  src/Mystira.App.Infrastructure.StoryProtocol/integration-guide.md
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Api.Tests/HealthChecks/ChainServiceHealthCheckTests.cs
  tests/Mystira.App.Api.Tests/Services/StoryProtocolServiceRegistrationTests.cs
  tests/Mystira.App.PWA.Tests/Components/ErrorBoundaryWrapperTests.cs
  tests/Mystira.App.PWA.Tests/Components/LoadingIndicatorTests.cs
  tests/Mystira.App.PWA.Tests/Components/ToastContainerTests.cs
  tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
  tests/Mystira.App.PWA.Tests/Pages/AchievementsPageTests.cs
Due: unittests, API, PWA, Application, Infrastructure StoryProtocol

chore(renovate): pin packages to .NET 9 compatible versions
  renovate.json
Due: none

chore(renovate): pin packages to .NET 9 compatible versions (#605)
  renovate.json
Due: none

refactor: improve DRY, SOLID compliance and add comprehensive tests
  Mystira.App.sln
  src/Mystira.App.Application/Helpers/StringExtensions.cs
  src/Mystira.App.Application/Ports/Services/ICurrentUserService.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
  src/Mystira.App.Infrastructure.Data/Repositories/UserBadgeRepository.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
  tests/Mystira.App.Application.Tests/UseCases/CheckAchievementsUseCaseTests.cs
  tests/Mystira.App.Infrastructure.Data.Tests/Mystira.App.Infrastructure.Data.Tests.csproj
  tests/Mystira.App.Infrastructure.Data.Tests/Repositories/RepositoryTests.cs
  tests/Mystira.App.Infrastructure.Data.Tests/Repositories/UserBadgeRepositoryTests.cs
Due: unittests, Application, Infrastructure Data

refactor: use Mystira.Shared extensions and wire up ICurrentUserService
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/Services/CurrentUserService.cs
  src/Mystira.App.Application/Helpers/StringExtensions.cs
  src/Mystira.App.Application/Ports/Services/ICurrentUserService.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
Due: unittests, API, Application

fix: resolve build errors in test projects
  tests/Mystira.App.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Infrastructure.Data.Tests/Repositories/RepositoryTests.cs
Due: none

Refactor code and improve test coverage (#606)
  Mystira.App.sln
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/Services/CurrentUserService.cs
  src/Mystira.App.Application/Ports/Services/ICurrentUserService.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
  src/Mystira.App.Infrastructure.Data/Repositories/UserBadgeRepository.cs
  tests/Mystira.App.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
  tests/Mystira.App.Application.Tests/UseCases/CheckAchievementsUseCaseTests.cs
  tests/Mystira.App.Infrastructure.Data.Tests/Mystira.App.Infrastructure.Data.Tests.csproj
  tests/Mystira.App.Infrastructure.Data.Tests/Repositories/RepositoryTests.cs
  tests/Mystira.App.Infrastructure.Data.Tests/Repositories/UserBadgeRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

fix: update tests for FluentAssertions v8 API and nullable references
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
Due: none

Claude/refactor and tests gxf9 q (#607)
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
Due: none

fix: update StringExtensionsTests to match Mystira.Shared behavior
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
Due: none

Claude/refactor and tests gxf9 q (#608)
  tests/Mystira.App.Application.Tests/Helpers/StringExtensionsTests.cs
Due: none

refactor: improve GitHub Actions workflow naming and grouping
  .github/workflows/api-ci-dev.yml
  .github/workflows/api-rollback-prod.yml
  .github/workflows/ci-tests.yml
  .github/workflows/deploy-trigger-workspace.yml
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-cleanup-preview.yml
  .github/workflows/pwa-smoke-tests.yml
  .github/workflows/security-scanning.yml
Due: none

Claude/refactor and tests gxf9 q (#609)
  .github/workflows/api-ci-dev.yml
  .github/workflows/api-rollback-prod.yml
  .github/workflows/ci-tests.yml
  .github/workflows/deploy-trigger-workspace.yml
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-cleanup-preview.yml
  .github/workflows/pwa-smoke-tests.yml
  .github/workflows/security-scanning.yml
Due: none

docs: clarify deployment workflow naming and process
  docs/devops/ci-cd-architecture.md
Due: none

docs: fix incorrect SWA deployment info
  docs/devops/ci-cd-architecture.md
Due: none

feat: add direct SWA deployment workflow for dev
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-deploy-dev.yml
  docs/devops/ci-cd-architecture.md
Due: none

Document deployment process to dev environment (#610)
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-deploy-dev.yml
  docs/devops/ci-cd-architecture.md
Due: none

feat: re-enable dark mode and improve auth page display
  src/Mystira.App.PWA/Components/ThemeToggle.razor
  src/Mystira.App.PWA/Components/ThemeToggle.razor.css
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

fix: improve loading screen behavior and display
  src/Mystira.App.PWA/Components/LoadingExperience.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
Due: unittests, PWA

Claude/document dev deployment y6xm j (#611)
  src/Mystira.App.PWA/Components/LoadingExperience.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
  src/Mystira.App.PWA/Components/ThemeToggle.razor
  src/Mystira.App.PWA/Components/ThemeToggle.razor.css
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

fix: simplify loading screen to clean minimal design
  src/Mystira.App.PWA/Components/LoadingExperience.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
Due: unittests, PWA

fix: restore loading screen character while keeping it clean
  src/Mystira.App.PWA/Components/LoadingExperience.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
Due: unittests, PWA

Claude/document dev deployment y6xm j (#612)
  src/Mystira.App.PWA/Components/LoadingExperience.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
Due: unittests, PWA

fix: fix static loading screen in index.html
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

fix: improve loading screens and fix video flash
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

Claude/document dev deployment y6xm j (#613)
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

fix: make loading screens identical and fix video flash
  src/Mystira.App.PWA/Components/HeroSection.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor
Due: unittests, PWA

Claude/document dev deployment y6xm j (#614)
  src/Mystira.App.PWA/Components/HeroSection.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor
Due: unittests, PWA

Add custom CSS for Entra External ID login branding
  src/Mystira.App.PWA/wwwroot/branding/entra-custom-branding.css
Due: unittests, PWA

Add 32x32 favicon for Entra branding (2.4KB)
  src/Mystira.App.PWA/wwwroot/branding/favicon-32x32.png
Due: unittests, PWA

Improve user experience and design (#615)
  src/Mystira.App.PWA/wwwroot/branding/entra-custom-branding.css
  src/Mystira.App.PWA/wwwroot/branding/favicon-32x32.png
Due: unittests, PWA

Add header logo for Entra branding (36x36, 3KB)
  src/Mystira.App.PWA/wwwroot/branding/header-logo-36x36.png
Due: unittests, PWA

Add square logos (240x240) for Entra sign-in form branding
  src/Mystira.App.PWA/wwwroot/branding/square-logo-240x240.png
  src/Mystira.App.PWA/wwwroot/branding/square-logo-dark-240x240.png
Due: unittests, PWA

Improve user experience and design (#616)
  src/Mystira.App.PWA/wwwroot/branding/header-logo-36x36.png
  src/Mystira.App.PWA/wwwroot/branding/square-logo-240x240.png
  src/Mystira.App.PWA/wwwroot/branding/square-logo-dark-240x240.png
Due: unittests, PWA

Add gradient background image for Entra login (1920x1080)
  src/Mystira.App.PWA/wwwroot/branding/background-1920x1080.jpg
Due: unittests, PWA

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  Admin API: any of: src/Mystira.App.Admin.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
  Contracts: any of: src/Mystira.Contracts.App/**
  Infrastructure Data: any of: src/Mystira.App.Infrastructure.Data/**
  Infrastructure Azure: any of: src/Mystira.App.Infrastructure.Azure/**
  Infrastructure Discord: any of: src/Mystira.App.Infrastructure.Discord/**
  Infrastructure StoryProtocol: any of: src/Mystira.App.Infrastructure.StoryProtocol/**
  Shared: any of: src/Mystira.App.Shared/**
