Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

Add remaining monitoring enhancements and missed opportunities
  .github/workflows/mystira-app-api-cicd-prod.yml
  infrastructure/modules/cosmos-alerts.bicep
  src/Mystira.App.Shared/Telemetry/CustomMetrics.cs
Due: unittests

Fix critical KQL cross join syntax in scenario abandonment alert
  infrastructure/modules/cosmos-alerts.bicep
  infrastructure/modules/metric-alerts.bicep
Due: none

Fix critical security vulnerability and cardinality explosion
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Shared/Telemetry/UserJourneyAnalytics.cs
Due: unittests, API

Fix DB init race condition and improve CI/CD smoke tests
  .github/workflows/mystira-app-api-cicd-prod.yml
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Program.cs
Due: unittests, API

Address code quality issues from PR review
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Shared/Middleware/CorrelationIdMiddleware.cs
  src/Mystira.App.Shared/Middleware/RequestLoggingMiddleware.cs
  src/Mystira.App.Shared/Telemetry/SecurityMetrics.cs
Due: unittests

Fix Bicep linter errors and warnings blocking deployment
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
  infrastructure/modules/budget.bicep
  infrastructure/modules/communication-services.bicep
  infrastructure/modules/dashboard.bicep
Due: none

Improve Cosmos DB partition key consistency and documentation
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
Due: unittests

Standardize all Cosmos DB partition keys to lowercase
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
Due: unittests

Standardize CI/CD smoke tests across all API workflows
  .github/workflows/mystira-app-admin-api-cicd-dev.yml
  .github/workflows/mystira-app-admin-api-cicd-prod.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-api-cicd-staging.yml
Due: none

Fix build error: add missing IApplicationBuilder using directive
  src/Mystira.App.Shared/Middleware/CorrelationIdMiddleware.cs
  src/Mystira.App.Shared/Middleware/RequestLoggingMiddleware.cs
Due: unittests

Fix duplicate packages in codecov report by merging coverage reports
  .github/workflows/ci-tests-codecov.yml
Due: none

Add comprehensive CQRS handler tests to improve coverage
  tests/Mystira.App.Application.Tests/CQRS/Accounts/AccountCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Auth/AuthCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UserProfileCommandTests.cs
Due: none

Phase 1: Extract shared utilities for DRY refactoring
  src/Mystira.App.Infrastructure.Data/Configuration/EntityConfigurationExtensions.cs
  src/Mystira.App.Shared/Media/MimeTypeRegistry.cs
  tests/Mystira.App.Application.Tests/Shared/MimeTypeRegistryTests.cs
Due: unittests

Phase 2: Refactor media services to use MimeTypeRegistry
  src/Mystira.App.Admin.Api/Services/MediaApiService.cs
  src/Mystira.App.Application/UseCases/Media/UploadMediaUseCase.cs
Due: unittests, Application

Add Scenario and Domain model tests for coverage
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/ScenarioQueryTests.cs
  tests/Mystira.App.Application.Tests/Domain/AgeGroupConstantsTests.cs
Due: none

Add comprehensive CQRS tests for master data and badges
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/ArchetypeCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/ContentBundles/ContentBundleQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/MasterData/MasterDataCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeTests.cs
Due: none

Add FantasyTheme and AgeGroup CQRS tests
  tests/Mystira.App.Application.Tests/CQRS/MasterData/FantasyThemeAndAgeGroupTests.cs
Due: none

Add comprehensive Media use case unit tests
  tests/Mystira.App.Application.Tests/UseCases/Media/MediaUseCaseTests.cs
Due: none

Add comprehensive domain model unit tests
  tests/Mystira.App.Application.Tests/Domain/DomainModelTests.cs
Due: none

Added UserSecretsId for projects, registered badge repositories, and improved Cosmos DB property mapping.
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
Due: unittests, API, PWA

Fix CosmosDbHealthCheck to use CosmosClient instead of unsupported CanConnectAsync
  src/Mystira.App.Infrastructure.Azure/HealthChecks/AzureHealthChecks.cs
Due: unittests

Add ADR-0013: gRPC for C# to Python inter-service communication
  docs/architecture/adr/ADR-0013-grpc-for-csharp-python-integration.md
  docs/architecture/adr/README.md
Due: none

Make CosmosDbHealthCheck registration conditional on using Cosmos DB
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Program.cs
Due: unittests, API

Fix Azure dashboard queries by using correct MonitorChartPart type
  infrastructure/modules/dashboard.bicep
Due: none

Added support for configurable font sources in CSP, adjusted cookie settings for dev environment, and relaxed security headers for development.
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Shared/Middleware/SecurityHeadersMiddleware.cs
Due: unittests

Enabled CSP nonces for inline scripts and styles, updated middleware for nonce generation, and adjusted CSP policies for production.
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Admin.Api/Views/Admin/Login.cshtml
  src/Mystira.App.Admin.Api/Views/Shared/_Layout.cshtml
  src/Mystira.App.Shared/Middleware/SecurityHeadersMiddleware.cs
Due: unittests

Add SSL certificate verification step to prod infrastructure workflow
  .github/workflows/infrastructure-deploy-prod.yml
Due: none

Added CSP nonce support for inline scripts, updated relevant views, and adjusted inline script formatting.
  src/Mystira.App.Admin.Api/Views/Admin/AgeGroups.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/AppStatus.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Archetypes.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/AvatarManagement.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Bundles.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/CharacterMaps.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/CharacterMediaMetadata.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/CompassAxes.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Dashboard.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/EchoTypes.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/EditScenario.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/FantasyThemes.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/ImportBadges.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/ImportBundle.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/ImportCharacterMap.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/ImportMedia.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/ImportScenario.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Media.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/MediaMetadata.cshtml
  src/Mystira.App.Admin.Api/Views/Shared/_AdminLayout.cshtml
Due: unittests

Added CSP nonce support for `Scenarios.cshtml` inline scripts, refactored script bindings to use CSP-safe event listeners, and cleaned up redundant script attributes.
  src/Mystira.App.Admin.Api/Views/Admin/Bundles.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Scenarios.cshtml
Due: unittests

switched off endpoint switching for prod
  src/Mystira.App.PWA/wwwroot/appsettings.json
Due: unittests, PWA

enabled endpoint switching in appsettings.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
Due: unittests, PWA

fix: staging pipeline and prod deployment workflows
  .github/workflows/infrastructure-deploy-staging.yml
  .github/workflows/mystira-app-admin-api-cicd-prod.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
Due: none

fix: add comprehensive secret validation to all CI/CD workflows
  .github/workflows/mystira-app-admin-api-cicd-prod.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-cicd-staging.yml
Due: none

Added badges and badge images management views, improved badge form validation, fixed Cosmos DB multi-property ordering issue, and enhanced MediatR query caching setup.
  src/Mystira.App.Admin.Api/Controllers/AdminController.cs
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Admin.Api/Services/BadgeAdminService.cs
  src/Mystira.App.Admin.Api/Views/Admin/BadgeImages.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Badges.cshtml
Due: unittests

Potential fix for pull request finding 'Generic catch clause'
  src/Mystira.App.Api/Controllers/BadgeImagesController.cs
Due: unittests, API

Fix build: Add Mystira.App.Shared reference to Application project
  src/Mystira.App.Application/Mystira.App.Application.csproj
Due: unittests, Application

Potential fix for pull request finding 'Missing Dispose call on local IDisposable'
  tests/Mystira.App.Application.Tests/UseCases/Media/MediaUseCaseTests.cs
Due: none

chore: add DevHub submodule and update devhub.bat
  .gitmodules
  devhub.bat
Due: none

docs: add tools README
  tools/README.md
Due: none

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
