Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "header, diff, flags, components, tree, betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - src/Mystira.App.Api/**
    - component_id: admin-api
      name: Admin API
      paths:
        - src/Mystira.App.Admin.Api/**
    - component_id: pwa
      name: PWA
      paths:
        - src/Mystira.App.PWA/**
    - component_id: domain
      name: Domain
      paths:
        - src/Mystira.App.Domain/**
    - component_id: application
      name: Application
      paths:
        - src/Mystira.App.Application/**
    - component_id: contracts
      name: Contracts
      paths:
        - src/Mystira.Contracts.App/**
    - component_id: infrastructure-data
      name: Infrastructure Data
      paths:
        - src/Mystira.App.Infrastructure.Data/**
    - component_id: infrastructure-azure
      name: Infrastructure Azure
      paths:
        - src/Mystira.App.Infrastructure.Azure/**
    - component_id: infrastructure-discord
      name: Infrastructure Discord
      paths:
        - src/Mystira.App.Infrastructure.Discord/**
    - component_id: infrastructure-storyprotocol
      name: Infrastructure StoryProtocol
      paths:
        - src/Mystira.App.Infrastructure.StoryProtocol/**
    - component_id: shared
      name: Shared
      paths:
        - src/Mystira.App.Shared/**

Add magical starry night background for Entra login
  src/Mystira.App.PWA/wwwroot/branding/background-magical-1920x1080.jpg
Due: unittests, PWA

Improve user experience and design (#617)
  src/Mystira.App.PWA/wwwroot/branding/background-1920x1080.jpg
  src/Mystira.App.PWA/wwwroot/branding/background-magical-1920x1080.jpg
Due: unittests, PWA

Configure NuGet to publish only to GitHub Packages
  nuget.config
Due: none

Add GitHub Packages credentials using GH_PACKAGES_TOKEN env var
  nuget.config
Due: none

Claude/improve ux design 2 jq py (#618)
  nuget.config
Due: none

Remove redundant 'Create Profile' empty state from AchievementsPage
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
Due: unittests, PWA

Move Profiles link into user account dropdown
  src/Mystira.App.PWA/Shared/MainLayout.razor
Due: unittests, PWA

Improve top navigation UX
  src/Mystira.App.PWA/Shared/MainLayout.razor
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
Due: unittests, PWA

Improve Discord widget styling
  src/Mystira.App.PWA/Shared/DiscordWidget.razor.css
Due: unittests, PWA

Fix GitHub Packages auth to use GITHUB_TOKEN
  .github/workflows/api-ci-dev.yml
  .github/workflows/ci-tests.yml
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-deploy-dev.yml
  .github/workflows/security-scanning.yml
Due: none

Fix NuGet auth to use GH_PACKAGES_TOKEN env var
  .github/workflows/api-ci-dev.yml
  .github/workflows/ci-tests.yml
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-deploy-dev.yml
  .github/workflows/security-scanning.yml
Due: none

Remove redundant page (#619)
  .github/workflows/api-ci-dev.yml
  .github/workflows/ci-tests.yml
  .github/workflows/pwa-ci-dev.yml
  .github/workflows/pwa-deploy-dev.yml
  .github/workflows/security-scanning.yml
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Shared/DiscordWidget.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
Due: unittests, PWA

Add Domain.Tests project with UserProfile, Account, AgeGroup tests
  Mystira.App.sln
  tests/Mystira.App.Domain.Tests/Models/AgeGroupTests.cs
  tests/Mystira.App.Domain.Tests/Models/SubscriptionDetailsTests.cs
  tests/Mystira.App.Domain.Tests/Models/UserProfileTests.cs
  tests/Mystira.App.Domain.Tests/Mystira.App.Domain.Tests.csproj
Due: none

Add Infrastructure.Payments.Tests with MockPaymentService and PeachPaymentsService tests
  Mystira.App.sln
  tests/Mystira.App.Infrastructure.Payments.Tests/Mystira.App.Infrastructure.Payments.Tests.csproj
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/MockPaymentServiceTests.cs
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Add Application layer CQRS handler tests for priority 1 handlers
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/DeleteAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/AwardBadgeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/CreateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UpdateUserProfileCommandHandlerTests.cs
Due: none

Add API controller tests for UserBadges, Avatars, and Royalties
  tests/Mystira.App.Api.Tests/Controllers/AvatarsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/RoyaltiesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserBadgesControllerTests.cs
Due: none

Fix test compilation errors from CI build
  tests/Mystira.App.Api.Tests/Controllers/AvatarsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/RoyaltiesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserBadgesControllerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/DeleteAccountCommandHandlerTests.cs
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/MockPaymentServiceTests.cs
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Fix remaining test compilation errors
  tests/Mystira.App.Api.Tests/Controllers/AvatarsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/RoyaltiesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserBadgesControllerTests.cs
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/MockPaymentServiceTests.cs
Due: none

Fix nullable DateTime comparison in subscription test
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/MockPaymentServiceTests.cs
Due: none

Fix PeachPaymentsServiceTests mock URL matching
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Fix CodeQL useless upcast warnings in test files
  tests/Mystira.App.Api.Tests/Controllers/AvatarsControllerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/DeleteAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/AwardBadgeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UpdateUserProfileCommandHandlerTests.cs
Due: none

Fix MockHttp URL matching in PeachPaymentsServiceTests
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Fix PeachPaymentsServiceTests MockHttp matching
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Skip PeachPaymentsService tests with MockHttp POST+Respond issue
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Fix CodeQL sensitive data exposure warnings
  src/Mystira.App.Api/Controllers/UserBadgesController.cs
  src/Mystira.App.Application/CQRS/Accounts/Commands/DeleteAccountCommandHandler.cs
Due: unittests, API, Application

Claude/remove redundant page a4 kcc (#620)
  Mystira.App.sln
  src/Mystira.App.Api/Controllers/UserBadgesController.cs
  src/Mystira.App.Application/CQRS/Accounts/Commands/DeleteAccountCommandHandler.cs
  tests/Mystira.App.Api.Tests/Controllers/AvatarsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/RoyaltiesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserBadgesControllerTests.cs
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/DeleteAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/AwardBadgeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/CreateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UpdateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Domain.Tests/Models/AgeGroupTests.cs
  tests/Mystira.App.Domain.Tests/Models/SubscriptionDetailsTests.cs
  tests/Mystira.App.Domain.Tests/Models/UserProfileTests.cs
  tests/Mystira.App.Domain.Tests/Mystira.App.Domain.Tests.csproj
  tests/Mystira.App.Infrastructure.Payments.Tests/Mystira.App.Infrastructure.Payments.Tests.csproj
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/MockPaymentServiceTests.cs
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: unittests, API, Application

Fix test issues and replace MockHttp with Moq
  tests/Mystira.App.Domain.Tests/Models/UserProfileTests.cs
  tests/Mystira.App.Infrastructure.Payments.Tests/Mystira.App.Infrastructure.Payments.Tests.csproj
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Fix Moq async callback in PeachPaymentsServiceTests
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Replace Moq.Protected with custom TestHttpMessageHandler for reliable HTTP mocking
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: none

Fix Authorization header placement in PeachPaymentsService
  src/Mystira.App.Infrastructure.Payments/Services/PeachPayments/PeachPaymentsService.cs
Due: unittests

Claude/remove redundant page a4 kcc (#622)
  src/Mystira.App.Infrastructure.Payments/Services/PeachPayments/PeachPaymentsService.cs
  tests/Mystira.App.Domain.Tests/Models/UserProfileTests.cs
  tests/Mystira.App.Infrastructure.Payments.Tests/Mystira.App.Infrastructure.Payments.Tests.csproj
  tests/Mystira.App.Infrastructure.Payments.Tests/Services/PeachPaymentsServiceTests.cs
Due: unittests

fix: Enable universal dark mode support across all components
  src/Mystira.App.PWA/Components/AdventureCard.razor.css
  src/Mystira.App.PWA/Components/AdventuresSection.razor.css
  src/Mystira.App.PWA/Components/AvatarCarousel.razor.css
  src/Mystira.App.PWA/Components/ContentAttribution.razor.css
  src/Mystira.App.PWA/Components/ErrorNavigator.razor.css
  src/Mystira.App.PWA/Components/FilterSection.razor.css
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor.css
  src/Mystira.App.PWA/Components/ToastContainer.razor.css
  src/Mystira.App.PWA/Components/UpdateNotification.razor.css
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor.css
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
  src/Mystira.App.PWA/Pages/ProfilesPage.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
  src/Mystira.App.PWA/wwwroot/index.html
  src/Mystira.App.PWA/wwwroot/js/logoIntroVideo.js
Due: unittests, PWA

docs: Add database architecture evaluation
  docs/architecture/DATABASE_ARCHITECTURE_EVALUATION.md
Due: none

feat: Implement PostgreSQL polyglot persistence for database migration
  docs/architecture/DATABASE_ARCHITECTURE_EVALUATION.md
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Infrastructure.Data/Migrations/PostgreSQL/V001__Initial_Migration_Candidates.sql
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
Due: unittests, API, Infrastructure Data

refactor: Simplify to permanent polyglot persistence architecture
  docs/architecture/DATABASE_ARCHITECTURE_EVALUATION.md
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/MigrationPhase.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, API, Application, Infrastructure Data

refactor: Rename from migration to permanent polyglot terminology
  docs/architecture/DATABASE_ARCHITECTURE_EVALUATION.md
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/MigrationPhase.cs
  src/Mystira.App.Application/Ports/Data/PolyglotMode.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, API, Application, Infrastructure Data

fix: Address polyglot persistence PR review issues
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

feat: Add polyglot persistence operational infrastructure
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Infrastructure.Data/Migrations/PostgreSQL/V002__Add_Foreign_Key_Constraints.sql
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotSyncLog.cs
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
Due: unittests, API, Infrastructure Data

Analyze database architecture and technology choices (#623)
  docs/architecture/DATABASE_ARCHITECTURE_EVALUATION.md
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/MigrationPhase.cs
  src/Mystira.App.Application/Ports/Data/PolyglotMode.cs
  src/Mystira.App.Infrastructure.Data/Migrations/PostgreSQL/V001__Initial_Migration_Candidates.sql
  src/Mystira.App.Infrastructure.Data/Migrations/PostgreSQL/V002__Add_Foreign_Key_Constraints.sql
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotSyncLog.cs
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

fix: Enable universal dark mode support across all components (#625)
  src/Mystira.App.PWA/Components/AdventureCard.razor.css
  src/Mystira.App.PWA/Components/AdventuresSection.razor.css
  src/Mystira.App.PWA/Components/AvatarCarousel.razor.css
  src/Mystira.App.PWA/Components/ContentAttribution.razor.css
  src/Mystira.App.PWA/Components/ErrorNavigator.razor.css
  src/Mystira.App.PWA/Components/FilterSection.razor.css
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor.css
  src/Mystira.App.PWA/Components/ToastContainer.razor.css
  src/Mystira.App.PWA/Components/UpdateNotification.razor.css
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor.css
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
  src/Mystira.App.PWA/Pages/ProfilesPage.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
  src/Mystira.App.PWA/wwwroot/index.html
  src/Mystira.App.PWA/wwwroot/js/logoIntroVideo.js
Due: unittests, PWA
