Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "header, diff, flags, components, tree, betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - src/Mystira.App.Api/**
    - component_id: pwa
      name: PWA
      paths:
        - src/Mystira.App.PWA/**
    - component_id: domain
      name: Domain
      paths:
        - src/Mystira.App.Domain/**
    - component_id: application
      name: Application
      paths:
        - src/Mystira.App.Application/**

Add files via upload
  src/Mystira.App.PWA/wwwroot/videos/Logo-Twirling-Expansion.mp4
Due: unittests, PWA

Add spam folder check reminder to login and signup pages
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
Due: unittests, PWA

Fix filter layout, add dark mode to adventure cards, improve badges
  src/Mystira.App.PWA/Components/AdventureCard.razor.css
  src/Mystira.App.PWA/Components/FilterSection.razor.css
Due: unittests, PWA

Improve character assignment UX with dark mode and AI players
  src/Mystira.App.PWA/Components/AvatarCarousel.razor
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor.css
Due: unittests, PWA

Improve character card media buttons and assign player styling
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor.css
Due: unittests, PWA

Improve Manage Profiles page and BundleCard pill styling
  src/Mystira.App.PWA/Components/BundleCard.razor
  src/Mystira.App.PWA/Components/BundleCard.razor.css
  src/Mystira.App.PWA/Pages/ProfilesPage.razor
  src/Mystira.App.PWA/Pages/ProfilesPage.razor.css
Due: unittests, PWA

Fix PR review issues: auth headers, CSS variables, and CI improvements
  .github/workflows/ci-tests-codecov.yml
  codecov.yml
  src/Mystira.App.PWA/Components/FilterSection.razor.css
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
Due: unittests, PWA

Fix Razor syntax error in ProfilesPage.razor
  src/Mystira.App.PWA/Pages/ProfilesPage.razor
Due: unittests, PWA

Fix filter card border clipping and improve result count label
  src/Mystira.App.PWA/Components/FilterSection.razor
  src/Mystira.App.PWA/Components/FilterSection.razor.css
  src/Mystira.App.PWA/Pages/Home.razor
Due: unittests, PWA

Improve BundleCard pills with descriptive labels and custom tooltips
  src/Mystira.App.PWA/Components/BundleCard.razor
  src/Mystira.App.PWA/Components/BundleCard.razor.css
Due: unittests, PWA

Fix dark mode UI issues in game session page
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

Enhance dark mode UI with improved shadows and button styling
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

Add light mode UI enhancements for visual consistency
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
Due: unittests, PWA

renamed ai assign
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
Due: unittests, PWA

Potential fix for pull request finding 'Generic catch clause'
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
Due: unittests, PWA

rename
  src/Mystira.App.Domain/README.md
  src/Mystira.App.PWA/wwwroot/index.html
  src/Mystira.App.PWA/wwwroot/manifest.json
Due: unittests, PWA, Domain

larger avatars
  src/Mystira.App.PWA/Components/AvatarCarousel.razor
Due: unittests, PWA

feat: add JWT token refresh, game session pause/resume, secondary color, and theme-aware hero videos
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/PauseGameSessionCommand.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/PauseGameSessionCommandHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/ResumeGameSessionCommand.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/ResumeGameSessionCommandHandler.cs
  src/Mystira.App.PWA/Components/HeroSection.razor
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/Services/AuthHeaderHandler.cs
  src/Mystira.App.PWA/Services/AuthService.cs
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
  src/Mystira.App.PWA/Services/IAuthService.cs
  src/Mystira.App.PWA/Services/IGameSessionApiClient.cs
  src/Mystira.App.PWA/wwwroot/css/app.css
  src/Mystira.App.PWA/wwwroot/js/logoIntroVideo.js
Due: unittests, API, PWA, Application

feat: add placeholder theme-aware hero videos
  src/Mystira.App.PWA/wwwroot/videos/hero-intro-dark.mp4
  src/Mystira.App.PWA/wwwroot/videos/hero-intro-light.mp4
Due: unittests, PWA

feat: wire up game session pause/resume to PWA UI with secondary color button
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Services/ApiClient.cs
  src/Mystira.App.PWA/Services/GameSessionService.cs
  src/Mystira.App.PWA/Services/IApiClient.cs
  src/Mystira.App.PWA/Services/IGameSessionService.cs
Due: unittests, PWA

feat: add version-based cache invalidation and update notifications
  .github/workflows/azure-static-web-apps-blue-water-0eab7991e.yml
  .github/workflows/azure-static-web-apps-dev-san-swa-mystira-app.yml
  .github/workflows/mystira-app-pwa-cicd-staging.yml
  src/Mystira.App.PWA/Components/UpdateNotification.razor
  src/Mystira.App.PWA/Components/UpdateNotification.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor
  src/Mystira.App.PWA/wwwroot/index.html
  src/Mystira.App.PWA/wwwroot/service-worker.published.js
  src/Mystira.App.PWA/wwwroot/version.json
Due: unittests, PWA

feat: add subtle version indicator in footer
  src/Mystira.App.PWA/Shared/MainLayout.razor
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

Potential fix for pull request finding 'Useless assignment to local variable'
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
Due: none

Upgrade JWT signing from HS256 to RS256 asymmetric encryption
  src/Mystira.App.Api/appsettings.Development.json
  src/Mystira.App.Api/appsettings.json
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
Due: unittests, API

Fix Send Code button race condition causing UI to disappear
  src/Mystira.App.PWA/Pages/SignIn.razor
Due: unittests, PWA

Fix JWT token expiration and sign-in race condition issues
  src/Mystira.App.Api/Adapters/JwtServiceAdapter.cs
  src/Mystira.App.Api/Services/IJwtService.cs
  src/Mystira.App.Api/Services/JwtService.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RefreshTokenCommandHandler.cs
  src/Mystira.App.Application/Ports/Auth/IJwtService.cs
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
Due: unittests, API, PWA, Application

Potential fix for pull request finding 'Missing Dispose call on local IDisposable'
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
Due: none

Add Azure Key Vault and RS256 JWT infrastructure support
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-cicd-staging.yml
  infrastructure/dev/main.bicep
  infrastructure/dev/modules/app-service.bicep
  infrastructure/dev/modules/key-vault.bicep
  src/Mystira.App.PWA/Pages/Home.razor.backup
Due: unittests, PWA

added `Authorize` to session-ending endpoint; fixed navigation logic for completed game sessions; improved button states and guest assignment wording
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, API, PWA

Fix duplicate variable declaration in RS256 test
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
Due: none

Fix: Display adventure choice buttons side by side
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
Due: unittests, PWA

docs: Add ADRs for Azure Front Door and staging environment
  docs/architecture/adr/ADR-0007-implement-azure-front-door.md
  docs/architecture/adr/ADR-0008-separate-staging-environment.md
  docs/architecture/adr/README.md
Due: none

style: Update navbar brand with gradient text effect
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
Due: unittests, PWA

uploaded videos
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/wwwroot/videos/hero-intro-dark.mp4
  src/Mystira.App.PWA/wwwroot/videos/hero-intro-light.mp4
Due: unittests, PWA

fixed broken
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Services/IGameSessionApiClient.cs
Due: unittests, PWA

fixed and implemented resume game session
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.PWA/Models/Scenario.cs
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Pages/Home.razor
  src/Mystira.App.PWA/Services/ApiClient.cs
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
  src/Mystira.App.PWA/Services/GameSessionService.cs
  src/Mystira.App.PWA/Services/IApiClient.cs
  src/Mystira.App.PWA/Services/IGameSessionService.cs
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
Due: unittests, API, PWA

Updated `MystiraApiBaseUrl` in development app settings to point to Azure-hosted API endpoint.
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
Due: unittests, PWA
