Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

adventure card small amend
  src/Mystira.App.PWA/Components/AdventureCard.razor
Due: unittests, PWA

button text amendment
  src/Mystira.App.PWA/Components/PwaInstallButton.razor
Due: unittests, PWA

Removed unused and redundant UI elements, optimized whitespace, and improved filter state handling logic.
  src/Mystira.App.PWA/Components/AccountInstallOption.razor
  src/Mystira.App.PWA/Components/FilterSection.razor
  src/Mystira.App.PWA/Components/PwaInstallButton.razor
  src/Mystira.App.PWA/Pages/Home.razor
  src/Mystira.App.PWA/Shared/MainLayout.razor
Due: unittests, PWA

refactor adventures to own component
  src/Mystira.App.PWA/Components/AdventuresSection.razor
  src/Mystira.App.PWA/Pages/About.razor
  src/Mystira.App.PWA/Pages/Adventures.razor
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Pages/ProfilesPage.razor
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/Shared/MainLayout.razor
Due: unittests, PWA

removed unused
  src/Mystira.App.PWA/Pages/Home.razor
Due: unittests, PWA

fixed bundle filtering
  src/Mystira.App.PWA/Components/AdventuresSection.razor
Due: unittests, PWA

Potential fix for pull request finding 'Generic catch clause'
  src/Mystira.App.PWA/Components/AdventuresSection.razor
Due: unittests, PWA

fixed compilation errors
  src/Mystira.App.PWA/Components/AdventuresSection.razor
Due: unittests, PWA

"Added support for character assignments in game sessions, updated related APIs, and improved session handling logic."
  src/Mystira.App.Application/CQRS/GameSessions/Commands/ResumeGameSessionCommandHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetInProgressSessionsQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByAccountQueryHandler.cs
  src/Mystira.App.Contracts/Requests/GameSessions/StartGameSessionRequest.cs
  src/Mystira.App.Contracts/Responses/GameSessions/GameSessionResponse.cs
  src/Mystira.App.Domain/Models/GameSession.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  src/Mystira.App.PWA/Components/AdventureCard.razor
  src/Mystira.App.PWA/Components/AdventuresSection.razor
  src/Mystira.App.PWA/Components/FilterSection.razor
  src/Mystira.App.PWA/Models/Scenario.cs
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiClient.cs
  src/Mystira.App.PWA/Services/CharacterAssignmentService.cs
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
  src/Mystira.App.PWA/Services/GameSessionService.cs
  src/Mystira.App.PWA/Services/IApiClient.cs
  src/Mystira.App.PWA/Services/IGameSessionApiClient.cs
Due: unittests, PWA, Domain, Application

missing file
  src/Mystira.App.Contracts/Models/GameSessions/CharacterAssignmentDto.cs
Due: unittests

Added Discord bot with ticketing system, startup sample ticket support, and slash commands integration.
  Mystira.App.sln
  src/Discord.ExampleBot/Discord.ExampleBot.csproj
  src/Discord.ExampleBot/DiscordSettings.cs
  src/Discord.ExampleBot/Program.cs
  src/Discord.ExampleBot/SampleTicketStartupService.cs
  src/Discord.ExampleBot/TicketModule.cs
  src/Discord.ExampleBot/appsettings.json
  src/Discord.ExampleBot/readme.md
Due: unittests

Potential fix for pull request finding 'Useless assignment to local variable'
  src/Discord.ExampleBot/TicketModule.cs
Due: unittests

refactor: Clean architecture integration for Discord bot
  src/Discord.ExampleBot/appsettings.json
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Ports/Messaging/IDiscordBotService.cs
  src/Mystira.App.Infrastructure.Discord/HealthChecks/DiscordBotHealthCheck.cs
  src/Mystira.App.Infrastructure.Discord/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotHostedService.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
  src/Mystira.App.Infrastructure.Discord/Services/IDiscordBotService.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
Due: unittests, API, Application

feat: Add InteractionService support and refactor Discord bot architecture
  src/Discord.ExampleBot/Discord.ExampleBot.csproj
  src/Discord.ExampleBot/DiscordSettings.cs
  src/Discord.ExampleBot/Program.cs
  src/Discord.ExampleBot/appsettings.json
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Ports/Messaging/ISlashCommandService.cs
  src/Mystira.App.Infrastructure.Discord/Configuration/DiscordOptions.cs
  src/Mystira.App.Infrastructure.Discord/Modules/TicketModule.cs
  src/Mystira.App.Infrastructure.Discord/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
  src/Mystira.App.Infrastructure.Discord/Services/SampleTicketStartupService.cs
Due: unittests, API, Application

feat: Add broadcast/first-responder pattern for multi-channel messaging
  src/Mystira.App.Application/Ports/Messaging/IDiscordBotService.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
Due: unittests, Application

Refactor chat bot interfaces for multi-platform support and add Teams/WhatsApp infrastructure
  Mystira.App.sln
  src/Discord.ExampleBot/Program.cs
  src/Mystira.App.Application/CQRS/Discord/Commands/SendDiscordEmbedCommandHandler.cs
  src/Mystira.App.Application/CQRS/Discord/Commands/SendDiscordMessageCommandHandler.cs
  src/Mystira.App.Application/CQRS/Discord/Queries/GetDiscordBotStatusQueryHandler.cs
  src/Mystira.App.Application/Ports/Messaging/IBotCommandService.cs
  src/Mystira.App.Application/Ports/Messaging/IChatBotService.cs
  src/Mystira.App.Infrastructure.Discord/HealthChecks/DiscordBotHealthCheck.cs
  src/Mystira.App.Infrastructure.Discord/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotHostedService.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
  src/Mystira.App.Infrastructure.Teams/Configuration/TeamsOptions.cs
  src/Mystira.App.Infrastructure.Teams/Mystira.App.Infrastructure.Teams.csproj
  src/Mystira.App.Infrastructure.Teams/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Teams/Services/TeamsBotService.cs
  src/Mystira.App.Infrastructure.WhatsApp/Configuration/WhatsAppOptions.cs
  src/Mystira.App.Infrastructure.WhatsApp/Mystira.App.Infrastructure.WhatsApp.csproj
  src/Mystira.App.Infrastructure.WhatsApp/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.WhatsApp/Services/WhatsAppBotService.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
Due: unittests, Application

Add C4 diagrams, sequence diagrams, and PR analysis documentation
  docs/architecture/CHAT_BOT_INTEGRATION.md
  docs/architecture/PR_ANALYSIS_CHAT_BOT_REFACTOR.md
Due: none

fix: Implement PR analysis bug fixes and improvements
  src/Mystira.App.Application/Ports/Messaging/IChatBotService.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
  src/Mystira.App.Infrastructure.Teams/Services/TeamsBotService.cs
  src/Mystira.App.Infrastructure.WhatsApp/Services/WhatsAppBotService.cs
Due: unittests, Application

docs: Add comprehensive PR analysis V2 with remaining issues
  docs/architecture/PR_ANALYSIS_V2_CHAT_BOT_REFACTOR.md
Due: none

fix: Address all critical and high priority bugs from PR analysis V2
  docs/dev/ADDING_NEW_CHAT_PLATFORM.md
  docs/ops/BOT_MONITORING.md
  docs/ops/TEAMS_WEBHOOK_SETUP.md
  docs/ops/WHATSAPP_WEBHOOK_SETUP.md
  src/Mystira.App.Application/CQRS/Discord/Commands/SendDiscordEmbedCommandHandler.cs
  src/Mystira.App.Application/CQRS/Discord/Commands/SendDiscordMessageCommandHandler.cs
  src/Mystira.App.Application/CQRS/Discord/Queries/GetDiscordBotStatusQueryHandler.cs
  src/Mystira.App.Infrastructure.Discord/Modules/TicketModule.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
  src/Mystira.App.Infrastructure.Teams/Services/TeamsBotService.cs
  src/Mystira.App.Infrastructure.WhatsApp/Services/WhatsAppBotService.cs
  tests/Mystira.App.Infrastructure.Teams.Tests/Mystira.App.Infrastructure.Teams.Tests.csproj
  tests/Mystira.App.Infrastructure.Teams.Tests/TeamsBotServiceTests.cs
  tests/Mystira.App.Infrastructure.WhatsApp.Tests/Mystira.App.Infrastructure.WhatsApp.Tests.csproj
  tests/Mystira.App.Infrastructure.WhatsApp.Tests/WhatsAppBotServiceTests.cs
Due: unittests, Application

fix: Address critical and high priority bugs from PR analysis V3
  docs/architecture/PR_ANALYSIS_V3_CHAT_BOT_REFACTOR.md
  src/Mystira.App.Application/CQRS/Discord/Queries/GetDiscordBotStatusQuery.cs
  src/Mystira.App.Infrastructure.Discord/HealthChecks/DiscordBotHealthCheck.cs
  src/Mystira.App.Infrastructure.Discord/Modules/TicketModule.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotHostedService.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
  src/Mystira.App.Infrastructure.Teams/Services/TeamsBotService.cs
  tests/Mystira.App.Application.Tests/CQRS/Discord/GetDiscordBotStatusQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Discord/SendDiscordEmbedCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Discord/SendDiscordMessageCommandHandlerTests.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/DiscordBotHealthCheckTests.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/DiscordBotServiceTests.cs
Due: unittests, Application

feat: Add infrastructure automation for chat bots and fix medium priority V3 issues
  docs/ops/CHAT_BOT_INFRASTRUCTURE.md
  infrastructure/dev/main.bicep
  infrastructure/dev/modules/azure-bot.bicep
  infrastructure/dev/modules/communication-services.bicep
  src/Mystira.App.Infrastructure.Discord/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
Due: unittests

fix: Complete V3 remaining issues for chat bot integration
  docs/setup/MULTI_PLATFORM_CHAT_BOT_SETUP.md
  src/Mystira.App.Infrastructure.Discord/Modules/TicketModule.cs
  src/Mystira.App.Infrastructure.Teams/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Teams/Services/TeamsBotService.cs
  src/Mystira.App.Infrastructure.WhatsApp/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.WhatsApp/Services/WhatsAppBotService.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/TicketModuleTests.cs
  tests/Mystira.App.Infrastructure.Teams.Tests/TeamsBotServiceTests.cs
  tests/Mystira.App.Infrastructure.WhatsApp.Tests/WhatsAppBotServiceTests.cs
Due: unittests

fix: Address low priority V3 issues
  docs/ops/BOT_MONITORING.md
  src/Mystira.App.Infrastructure.Discord/Modules/TicketModule.cs
Due: unittests

docs: Complete low priority V3 issues and add documentation
  docs/dev/ADDING_NEW_CHAT_PLATFORM.md
  docs/dev/BROADCAST_PATTERNS.md
  docs/dev/THREAD_SAFETY.md
  src/Mystira.App.Application/Ports/Messaging/IChatBotService.cs
  src/Mystira.App.Infrastructure.Teams/Services/TeamsBotService.cs
  src/Mystira.App.Infrastructure.WhatsApp/Services/WhatsAppBotService.cs
Due: unittests, Application

docs: Add PR Analysis V4 - Final review for chat bot integration
  docs/architecture/PR_ANALYSIS_V4_CHAT_BOT_FINAL.md
Due: none

Potential fix for pull request finding 'Generic catch clause'
  src/Discord.ExampleBot/Program.cs
Due: unittests

Potential fix for pull request finding 'Generic catch clause'
  src/Mystira.App.Infrastructure.Discord/Services/DiscordBotService.cs
Due: unittests

feat(story): Add customer-facing attribution and IP verification features
  src/Mystira.App.Api/Controllers/BundlesController.cs
  src/Mystira.App.Api/Controllers/ScenariosController.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleAttributionQuery.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleAttributionQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleIpStatusQuery.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleIpStatusQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioAttributionQuery.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioAttributionQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioIpStatusQuery.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioIpStatusQueryHandler.cs
  src/Mystira.App.Contracts/Responses/Attribution/ContentAttributionResponse.cs
  src/Mystira.App.Contracts/Responses/Attribution/IpVerificationResponse.cs
  src/Mystira.App.PWA/Components/ContentAttribution.razor
  src/Mystira.App.PWA/Components/ContentAttribution.razor.css
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor.css
  src/Mystira.App.PWA/Models/ContentAttribution.cs
  src/Mystira.App.PWA/Models/IpVerification.cs
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/AttributionApiClient.cs
  src/Mystira.App.PWA/Services/IAttributionApiClient.cs
Due: unittests, API, PWA, Application

feat(story): Add blockchain integration and royalty payment system
  src/Mystira.App.Application/Ports/IStoryProtocolService.cs
  src/Mystira.App.Domain/Models/RoyaltyPayment.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Configuration/StoryProtocolOptions.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/MockStoryProtocolService.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolService.cs
Due: unittests, Domain, Application

fix(story): Address PR review issues across Story Protocol implementation
  src/Mystira.App.Api/Controllers/RoyaltiesController.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleAttributionQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleIpStatusQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioAttributionQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioIpStatusQueryHandler.cs
  src/Mystira.App.Application/CQRS/Royalties/Commands/ClaimRoyaltiesCommand.cs
  src/Mystira.App.Application/CQRS/Royalties/Commands/ClaimRoyaltiesCommandHandler.cs
  src/Mystira.App.Application/CQRS/Royalties/Commands/PayRoyaltyCommand.cs
  src/Mystira.App.Application/CQRS/Royalties/Commands/PayRoyaltyCommandHandler.cs
  src/Mystira.App.Application/CQRS/Royalties/Queries/GetClaimableRoyaltiesQuery.cs
  src/Mystira.App.Application/CQRS/Royalties/Queries/GetClaimableRoyaltiesQueryHandler.cs
  src/Mystira.App.Application/Helpers/ContributorHelpers.cs
  src/Mystira.App.Contracts/Requests/Royalties/ClaimRoyaltiesRequest.cs
  src/Mystira.App.Contracts/Requests/Royalties/PayRoyaltyRequest.cs
  src/Mystira.App.Domain/Models/RoyaltyPayment.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/MockStoryProtocolService.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolService.cs
  src/Mystira.App.PWA/Components/ContentAttribution.razor
  src/Mystira.App.PWA/Components/ContentAttribution.razor.css
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor.css
Due: unittests, API, PWA, Domain, Application

Improve adventures styling with enhanced dark/light mode support
  src/Mystira.App.PWA/Components/AdventuresSection.razor
  src/Mystira.App.PWA/Components/AdventuresSection.razor.css
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
  src/Mystira.App.PWA/Pages/SignIn.razor.css
  src/Mystira.App.PWA/Pages/SignUp.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
Due: unittests, PWA

Refactor Bicep to single main.bicep with env-specific parameter files
  infrastructure/README.md
  infrastructure/dev/main.bicep
  infrastructure/dev/main.json
  infrastructure/dev/main.parameters.json
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
  infrastructure/modules/application-insights.bicep
  infrastructure/modules/azure-bot.bicep
  infrastructure/modules/communication-services.bicep
  infrastructure/modules/cosmos-db.bicep
  infrastructure/modules/key-vault.bicep
  infrastructure/modules/log-analytics.bicep
  infrastructure/modules/storage.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Adopt new naming convention: [org]-[env]-[project]-[type]-[region]
  infrastructure/README.md
  infrastructure/main.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Add DevOps documentation and update infrastructure workflows
  .github/workflows/infrastructure-deploy-dev.yml
  .github/workflows/infrastructure-deploy-prod.yml
  .github/workflows/infrastructure-deploy-staging.yml
  docs/devops/BRANCHING_STRATEGY.md
  docs/devops/CI_CD_ARCHITECTURE.md
  docs/devops/NAMING_CONVENTIONS.md
  docs/devops/RELEASE_PROCESS.md
Due: none

Fix critical issues and improvements identified in PR review
  .github/workflows/infrastructure-deploy-dev.yml
  .github/workflows/infrastructure-deploy-prod.yml
  .github/workflows/infrastructure-deploy-staging.yml
  docs/devops/NAMING_CONVENTIONS.md
  infrastructure/NAMING_AND_OPTIMIZATION.md
  infrastructure/README.md
  infrastructure/SECRETS_SETUP_GUIDE.md
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Integrate Key Vault, add Bicep linting, update naming convention across tools
  .deploy-config.ps1
  .github/workflows/infrastructure-deploy-dev.yml
  .github/workflows/infrastructure-deploy-prod.yml
  .github/workflows/infrastructure-deploy-staging.yml
  infrastructure/main.bicep
  scripts/deploy/ResourceHelpers.psm1
  tools/Mystira.DevHub/src-tauri/src/azure/deployment/helpers.rs
  tools/Mystira.DevHub/src-tauri/src/helpers.rs
Due: none

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
