Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "header, diff, flags, components, tree, betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - src/Mystira.App.Api/**
    - component_id: admin-api
      name: Admin API
      paths:
        - src/Mystira.App.Admin.Api/**
    - component_id: pwa
      name: PWA
      paths:
        - src/Mystira.App.PWA/**
    - component_id: domain
      name: Domain
      paths:
        - src/Mystira.App.Domain/**
    - component_id: application
      name: Application
      paths:
        - src/Mystira.App.Application/**
    - component_id: contracts
      name: Contracts
      paths:
        - src/Mystira.Contracts.App/**
    - component_id: infrastructure-data
      name: Infrastructure Data
      paths:
        - src/Mystira.App.Infrastructure.Data/**
    - component_id: infrastructure-azure
      name: Infrastructure Azure
      paths:
        - src/Mystira.App.Infrastructure.Azure/**
    - component_id: infrastructure-discord
      name: Infrastructure Discord
      paths:
        - src/Mystira.App.Infrastructure.Discord/**
    - component_id: infrastructure-storyprotocol
      name: Infrastructure StoryProtocol
      paths:
        - src/Mystira.App.Infrastructure.StoryProtocol/**
    - component_id: shared
      name: Shared
      paths:
        - src/Mystira.App.Shared/**

fix: Use setup-dotnet source-url for GitHub Packages authentication
  .github/workflows/ci-tests-codecov.yml
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-pwa-cicd-dev.yml
  .github/workflows/security-scanning.yml
  nuget.config
Due: none

fix: Use GH_PACKAGES_TOKEN for cross-repo package access
  .github/workflows/ci-tests-codecov.yml
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-pwa-cicd-dev.yml
  .github/workflows/security-scanning.yml
Due: none

fix: Update Mystira.Contracts package reference to version 0.1.*
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, Admin API, PWA, Application, Shared

fix: Update Mystira.Contracts package reference to version 0.2.*
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, Admin API, PWA, Application, Shared

fix: Fix HealthCheckPortAdapter namespace ambiguity and interface compliance
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
Due: unittests, Admin API, Shared

fix: Update code to match Mystira.Contracts 0.2.0-alpha-dev.12
  src/Mystira.App.Application/CQRS/Badges/Queries/GetProfileBadgeProgressQueryHandler.cs
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/AchievementsMapper.cs
  src/Mystira.App.PWA/Services/AchievementsService.cs
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
  tests/Mystira.App.PWA.Tests/Services/AchievementsMapperTests.cs
Due: unittests, PWA, Application, Shared

chore: Add Renovate configuration for automated dependency updates
  renovate.json
Due: none

fix: Update AchievementsMapperTests for new contract types
  tests/Mystira.App.PWA.Tests/Services/AchievementsMapperTests.cs
Due: none

fix: Correct namespace for CreateScenarioRequest
  src/Mystira.App.Application/CQRS/Scenarios/Commands/CreateScenarioCommandHandler.cs
Due: unittests, Application

fix: Add type mappings between Contracts and Domain types
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetBundleAttributionQueryHandler.cs
  src/Mystira.App.Application/CQRS/Attribution/Queries/GetScenarioAttributionQueryHandler.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/GetProfileBadgeProgressQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetInProgressSessionsQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionStatsQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByAccountQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByProfileQueryHandler.cs
  src/Mystira.App.Application/CQRS/Health/Queries/GetHealthCheckQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Commands/CreateScenarioCommandHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
  src/Mystira.App.Application/Parsers/ScenarioParser.cs
  src/Mystira.App.Application/UseCases/Accounts/UpdateAccountUseCase.cs
  src/Mystira.App.Application/UseCases/Accounts/UpdateSubscriptionUseCase.cs
  src/Mystira.App.Application/UseCases/CharacterMaps/CreateCharacterMapUseCase.cs
  src/Mystira.App.Application/UseCases/CharacterMaps/UpdateCharacterMapUseCase.cs
  src/Mystira.App.Application/UseCases/Contributors/SetBundleContributorsUseCase.cs
  src/Mystira.App.Application/UseCases/Contributors/SetScenarioContributorsUseCase.cs
  src/Mystira.App.Application/UseCases/GameSessions/GetSessionStatsUseCase.cs
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/CreateScenarioUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/GetScenariosUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/UpdateScenarioUseCase.cs
Due: unittests, Application

Update src/Mystira.App.Application/UseCases/Scenarios/CreateScenarioUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/CreateScenarioUseCase.cs
Due: unittests, Application

Update src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
Due: unittests, Application

Update src/Mystira.App.Application/UseCases/GameSessions/GetSessionStatsUseCase.cs
  src/Mystira.App.Application/UseCases/GameSessions/GetSessionStatsUseCase.cs
Due: unittests, Application

Update src/Mystira.App.Application/UseCases/Accounts/UpdateAccountUseCase.cs
  src/Mystira.App.Application/UseCases/Accounts/UpdateAccountUseCase.cs
Due: unittests, Application

Update src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
Due: unittests, Application

fix: Repair corrupted merge and async method
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
Due: unittests, Application

refactor: Migrate obsolete Domain specs to Ardalis.Specification
  src/Mystira.App.Application/CQRS/ContentBundles/Queries/GetAllContentBundlesQueryHandler.cs
  src/Mystira.App.Application/CQRS/ContentBundles/Queries/GetContentBundlesByAgeGroupQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetInProgressSessionsQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByAccountQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByProfileQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetPaginatedScenariosQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosByAgeGroupQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserProfiles/Queries/GetProfilesByAccountQueryHandler.cs
  src/Mystira.App.Application/Specifications/ContentBundleSpecifications.cs
  src/Mystira.App.Application/Specifications/UserBadgeSpecifications.cs
  src/Mystira.App.Domain/Specifications/BadgeConfigurationSpecifications.cs
  src/Mystira.App.Domain/Specifications/ContentBundleSpecifications.cs
  src/Mystira.App.Domain/Specifications/GameSessionSpecifications.cs
  src/Mystira.App.Domain/Specifications/ScenarioSpecifications.cs
  src/Mystira.App.Domain/Specifications/UserBadgeSpecifications.cs
  src/Mystira.App.Domain/Specifications/UserProfileSpecifications.cs
Due: unittests, Domain, Application

fix: Align mapper properties with Domain model definitions
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
  src/Mystira.App.Application/Mappers/ScenarioMappers.cs
  src/Mystira.App.Application/Parsers/ScenarioParser.cs
  src/Mystira.App.Application/UseCases/Scenarios/GetScenariosUseCase.cs
Due: unittests, Application

fix: Use Contracts namespace for ScenarioGameState types
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
Due: unittests, Application

fix: Resolve multiple type mismatches and missing properties
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
  src/Mystira.App.Application/Mappers/ScenarioMappers.cs
  src/Mystira.App.Application/Parsers/ScenarioParser.cs
  src/Mystira.App.Application/Ports/Data/IRepository.cs
  src/Mystira.App.Application/Specifications/BadgeConfigurationSpecifications.cs
  src/Mystira.App.Application/UseCases/Accounts/UpdateAccountUseCase.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
Due: unittests, Application

fix: Migrate Infrastructure.Data repositories to Ardalis.Specification
  src/Mystira.App.Infrastructure.Data/Repositories/AxisAchievementRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/BadgeImageRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/BadgeRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Infrastructure Data

fix: Resolve test and API controller build errors
  src/Mystira.App.Api/Controllers/AgeGroupsController.cs
  src/Mystira.App.Api/Controllers/ArchetypesController.cs
  src/Mystira.App.Api/Controllers/AuthController.cs
  src/Mystira.App.Api/Controllers/BadgesController.cs
  src/Mystira.App.Api/Controllers/CompassAxesController.cs
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.Api/Controllers/HealthController.cs
  src/Mystira.App.Api/Controllers/RoyaltiesController.cs
  src/Mystira.App.Api/Controllers/UserProfilesController.cs
  src/Mystira.App.Api/Models/ContractModels.cs
  src/Mystira.App.Api/Program.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeCommandTests.cs
Due: unittests, API

refactor: Remove passwordless auth and migrate to Entra External Identities
  docs/contracts-migration.md
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Controllers/AuthController.cs
  src/Mystira.App.Api/Models/ContractModels.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/Services/AuthService.cs
  src/Mystira.App.Api/Services/IAuthService.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RefreshTokenCommand.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RefreshTokenCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RequestPasswordlessSigninCommand.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RequestPasswordlessSigninCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RequestPasswordlessSignupCommand.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RequestPasswordlessSignupCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/VerifyPasswordlessSigninCommand.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/VerifyPasswordlessSigninCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/VerifyPasswordlessSignupCommand.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/VerifyPasswordlessSignupCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/ExceptionDetailsHelper.cs
  src/Mystira.App.Application/CQRS/Auth/Responses/AuthResponse.cs
  src/Mystira.App.Application/Ports/Auth/IEmailService.cs
  src/Mystira.App.Application/Ports/Data/IPendingSignupRepository.cs
  src/Mystira.App.Application/UseCases/Authentication/CompletePendingSignupUseCase.cs
  src/Mystira.App.Application/UseCases/Authentication/CreatePendingSignupUseCase.cs
  src/Mystira.App.Application/UseCases/Authentication/ExpirePendingSignupUseCase.cs
  src/Mystira.App.Application/UseCases/Authentication/GetPendingSignupUseCase.cs
  src/Mystira.App.Application/UseCases/Authentication/ValidatePendingSignupUseCase.cs
  src/Mystira.App.Domain/Models/PendingSignup.cs
  src/Mystira.App.Infrastructure.Azure/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Azure/Services/AzureEmailService.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  src/Mystira.App.Infrastructure.Data/Repositories/PendingSignupRepository.cs
  src/Mystira.App.PWA/Services/AchievementsMapper.cs
  tests/Mystira.App.Application.Tests/CQRS/Auth/AuthCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Auth/AuthIntegrationTests.cs
Due: unittests, API, Admin API, PWA, Domain, Application, Infrastructure Data, Infrastructure Azure

fix: Address build errors and add validation to request DTOs
  src/Mystira.App.Api/Models/ContractModels.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
  src/Mystira.App.Infrastructure.Data/Specifications/SpecificationEvaluator.cs
Due: unittests, API, Application, Infrastructure Data

fix: Revert PlayerAssignment mapping to match Contracts DTO
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
Due: unittests, Application

fix: Add PlayerAssignment properties now available in Contracts DTO
  src/Mystira.App.Application/CQRS/GameSessions/Commands/StartGameSessionCommandHandler.cs
Due: unittests, Application

fix: Remove duplicate request types now in Contracts package
  src/Mystira.App.Api/Models/ContractModels.cs
Due: unittests, API

fix: Add Contracts royalty requests import to RoyaltiesController
  src/Mystira.App.Api/Controllers/RoyaltiesController.cs
Due: unittests, API

fix: Add ValidationErrorResponse and update controller imports
  src/Mystira.App.Api/Controllers/UserBadgesController.cs
  src/Mystira.App.Api/Models/ContractModels.cs
Due: unittests, API

Refined success condition for ages 1-2 in `GameSessionPage` logic.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Refactor roll target handling in `GameSessionPage.razor` to improve code clarity and eliminate redundant variable declarations.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

feat: Add Mystira.Shared v0.2.0-alpha-dev.38 and update Mystira.Contracts
  NuGet.config
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, Admin API, PWA, Application, Shared

Refactor success determination logic in `GameSessionPage.razor` to simplify conditions and improve handling of age-specific exclamations.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Refined roll result messaging logic for age group "1-2" to include failure exclamations and streamlined success condition calculation.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Simplified roll result messaging logic for age group "1-2" by removing failure exclamations.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Simplified success condition logic for game rolls, removing special case handling for age group "1-2".
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

feat: Add domain exceptions and GlobalExceptionHandler (Phase 5)
  src/Mystira.App.Api/Middleware/GlobalExceptionHandler.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Domain/Exceptions/BusinessRuleException.cs
  src/Mystira.App.Domain/Exceptions/ConflictException.cs
  src/Mystira.App.Domain/Exceptions/DomainException.cs
  src/Mystira.App.Domain/Exceptions/ForbiddenException.cs
  src/Mystira.App.Domain/Exceptions/NotFoundException.cs
  src/Mystira.App.Domain/Exceptions/ValidationException.cs
Due: unittests, API, Domain

feat: Add distributed locking and enhance cache configuration (Phase 8)
  src/Mystira.App.Api/appsettings.json
Due: unittests, API
