Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

fix: Update test files and remove duplicate IUnitOfWork interface
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/UnitOfWork/IUnitOfWork.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/DeleteAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/AwardBadgeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/CreateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UpdateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Repositories/CachedRepositoryTests.cs
  tests/Mystira.App.Application.Tests/UseCases/CheckAchievementsUseCaseTests.cs
Due: unittests, Infrastructure Data

fix: Fix interface implementation mismatches
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/UnitOfWork/UnitOfWork.cs
  tests/Mystira.App.Application.Tests/Repositories/CachedRepositoryTests.cs
Due: unittests, Infrastructure Data

chore: Update Mystira packages to version 0.6
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Infrastructure Data

fix: Address code review feedback for CachedRepository and UnitOfWork
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/UnitOfWork/UnitOfWork.cs
Due: unittests, Infrastructure Data

Update src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
Due: unittests, PWA

fix: Update package versions to 0.6.0-alpha* to match prerelease versions
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Infrastructure Data

fix: Cast Difficulty and SessionLength enums to int for ScenarioSummary
  src/Mystira.App.Application/UseCases/Scenarios/GetScenariosUseCase.cs
Due: unittests, Application

fix: Resolve test compilation errors for Mystira.Shared 0.6 migration
  tests/Mystira.App.Api.Tests/Controllers/HealthControllerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Accounts/DeleteAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/MakeChoiceCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/AwardBadgeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/CreateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UpdateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Repositories/CachedRepositoryTests.cs
  tests/Mystira.App.Application.Tests/Services/AxisScoringServiceTests.cs
  tests/Mystira.App.Application.Tests/Services/BadgeAwardingServiceTests.cs
  tests/Mystira.App.Application.Tests/UseCases/CheckAchievementsUseCaseTests.cs
Due: none

fix: Fix remaining test compilation errors
  tests/Mystira.App.Application.Tests/CQRS/Accounts/CreateAccountCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/Services/AxisScoringServiceTests.cs
  tests/Mystira.App.Application.Tests/Services/BadgeAwardingServiceTests.cs
Due: none

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  Admin API: any of: src/Mystira.App.Admin.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
  Contracts: any of: src/Mystira.Contracts.App/**
  Infrastructure Data: any of: src/Mystira.App.Infrastructure.Data/**
  Infrastructure Azure: any of: src/Mystira.App.Infrastructure.Azure/**
  Infrastructure Discord: any of: src/Mystira.App.Infrastructure.Discord/**
  Infrastructure StoryProtocol: any of: src/Mystira.App.Infrastructure.StoryProtocol/**
  Shared: any of: src/Mystira.App.Shared/**
