Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

feat: Complete MediatR to Wolverine migration (Wave 4)
  src/Mystira.App.Api/Controllers/AccountsController.cs
  src/Mystira.App.Api/Controllers/AgeGroupsController.cs
  src/Mystira.App.Api/Controllers/ArchetypesController.cs
  src/Mystira.App.Api/Controllers/AvatarsController.cs
  src/Mystira.App.Api/Controllers/BadgeImagesController.cs
  src/Mystira.App.Api/Controllers/BadgesController.cs
  src/Mystira.App.Api/Controllers/BundlesController.cs
  src/Mystira.App.Api/Controllers/CompassAxesController.cs
  src/Mystira.App.Api/Controllers/DiscordController.cs
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.Api/Controllers/HealthController.cs
  src/Mystira.App.Api/Controllers/MediaController.cs
  src/Mystira.App.Api/Controllers/MediaMetadataController.cs
  src/Mystira.App.Api/Controllers/RoyaltiesController.cs
  src/Mystira.App.Api/Controllers/ScenariosController.cs
  src/Mystira.App.Api/Controllers/UserBadgesController.cs
  src/Mystira.App.Api/Controllers/UserProfilesController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Behaviors/QueryCachingBehavior.cs
  src/Mystira.App.Application/CQRS/ICommand.cs
  src/Mystira.App.Application/CQRS/ICommandHandler.cs
  src/Mystira.App.Application/CQRS/IQuery.cs
  src/Mystira.App.Application/CQRS/IQueryHandler.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/README.md
  src/Mystira.App.Infrastructure.Discord/README.md
  src/Mystira.App.PWA/README.md
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Infrastructure Discord

docs: Add proposal for Mystira.Shared package enhancements
  docs/proposals/shared-package-enhancements.md
Due: none

test: Migrate test files from MediatR to Wolverine IMessageBus
  tests/Mystira.App.Api.Tests/Controllers/ArchetypesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/AuthControllerIntegrationTests.cs
  tests/Mystira.App.Api.Tests/Controllers/BundlesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/CompassAxesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/HealthControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/MediaControllerTests.cs
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/README.md
Due: none

feat: Upgrade to Mystira.Shared 0.4.0 with Mapperly and FluentValidation
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQuery.cs
  src/Mystira.App.Application/CQRS/ICommand.cs
  src/Mystira.App.Application/CQRS/IQuery.cs
  src/Mystira.App.Application/CQRS/Scenarios/Commands/CreateScenarioCommandHandler.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesByAxisQuery.cs
  src/Mystira.App.Application/DependencyInjection.cs
  src/Mystira.App.Application/Mappers/ScenarioMapper.cs
  src/Mystira.App.Application/Mappers/ScenarioMappers.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/UseCases/Scenarios/CreateScenarioUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/UpdateScenarioUseCase.cs
  src/Mystira.App.Application/Validators/AwardBadgeCommandValidator.cs
  src/Mystira.App.Application/Validators/CreateAccountCommandValidator.cs
  src/Mystira.App.Application/Validators/CreateScenarioCommandValidator.cs
  src/Mystira.App.Application/Validators/StartGameSessionCommandValidator.cs
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

fix: Use GITHUB_TOKEN for NuGet package authentication
  .github/workflows/ci-tests-codecov.yml
Due: none

fix: Add nuget.config and fix CI authentication for GitHub Packages
  .github/workflows/ci-tests-codecov.yml
  nuget.config
Due: none

chore(deps): Consolidate all dependency updates
  .github/workflows/mystira-app-api-rollback.yml
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Infrastructure.Teams.Tests/Mystira.App.Infrastructure.Teams.Tests.csproj
  tests/Mystira.App.Infrastructure.WhatsApp.Tests/Mystira.App.Infrastructure.WhatsApp.Tests.csproj
  tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
Due: unittests, Application, Infrastructure Azure, Infrastructure Discord

fix: Use GH_PACKAGES_TOKEN for GitHub Packages authentication in CI
  .github/workflows/ci-tests-codecov.yml
Due: none

fix: Configure GitHub Packages auth directly in repo nuget.config
  .github/workflows/ci-tests-codecov.yml
  nuget.config
Due: none

fix: Remove and re-add NuGet source with credentials
  .github/workflows/ci-tests-codecov.yml
Due: none

fix: Remove invalid XML comments from nuget.config
  nuget.config
Due: none

fix: Change Wolverine to WolverineFx (correct NuGet package name)
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
Due: unittests, API, Application

feat: Use floating version 0.4.*-* for Mystira.Contracts and Mystira.Shared
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

fix: Pin Mystira packages to 0.4.0-alpha (existing version)
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

feat: Use floating version 0.4.*-* for Mystira packages
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

Update tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
Due: none

fix: Upgrade WolverineFx from 3.8.3 to 5.9.2
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
Due: unittests, API, Application

fix: Upgrade package versions to match Mystira.Shared 0.4.0-alpha-dev.46
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
Due: unittests, API, PWA, Application, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

fix: Remove Mystira.Shared from PWA (browser-wasm incompatible)
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
Due: unittests, PWA

fix: Add CQRS interfaces and fix MediaRequest type
  src/Mystira.App.Application/CQRS/ICommand.cs
  src/Mystira.App.Application/CQRS/IQuery.cs
  src/Mystira.App.Application/CQRS/IQueryHandler.cs
  src/Mystira.App.Application/GlobalUsings.cs
  src/Mystira.App.Application/Mappers/ScenarioMapper.cs
Due: unittests, Application

fix: Use local CQRS interfaces and remove Mystira.Shared.CQRS references
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQuery.cs
  src/Mystira.App.Application/CQRS/IQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesByAxisQuery.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
Due: unittests, Application

refactor: Use CQRS interfaces from Mystira.Shared package
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQuery.cs
  src/Mystira.App.Application/CQRS/ICommand.cs
  src/Mystira.App.Application/CQRS/IQuery.cs
  src/Mystira.App.Application/CQRS/IQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesByAxisQuery.cs
  src/Mystira.App.Application/GlobalUsings.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
Due: unittests, Application

fix: Add global using for Mystira.Shared.CQRS
  src/Mystira.App.Application/GlobalUsings.cs
Due: unittests, Application

fix: Remove IQueryHandler interface from handlers
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesByAxisQuery.cs
Due: unittests, Application

fix: Update code for Mystira.Contracts changes
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetBadgeStatisticsForAccountByEmailQueryHandler.cs
  src/Mystira.App.Application/DependencyInjection.cs
  src/Mystira.App.Application/Validators/AwardBadgeCommandValidator.cs
  src/Mystira.App.Application/Validators/StartGameSessionCommandValidator.cs
Due: unittests, Application

fix: Update API controllers for contract changes and remove incompatible tests
  src/Mystira.App.Api/Controllers/DiscordController.cs
  src/Mystira.App.Api/Controllers/HealthController.cs
  src/Mystira.App.Api/Controllers/UserBadgesController.cs
  src/Mystira.App.Api/Program.cs
  tests/Mystira.App.Application.Tests/CQRS/Discord/GetDiscordBotStatusQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Discord/SendDiscordEmbedCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Discord/SendDiscordMessageCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/FinalizeGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/PauseResumeEndGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/ProgressSceneCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/CreateUserProfileCommandHandlerTests.cs
Due: unittests, API

fix: Add Mediator adapter for Wolverine and remove obsolete tests
  tests/Mystira.App.Api.Tests/Controllers/AuthControllerIntegrationTests.cs
  tests/Mystira.App.Api.Tests/Services/AzureEmailServiceTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: none

test: Add comprehensive controller unit tests for 80% coverage
  tests/Mystira.App.Api.Tests/Controllers/AccountsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/AgeGroupsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/DiscordControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/ScenariosControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserProfilesControllerTests.cs
Due: none

fix: Fix test compilation errors and remove incompatible tests
  tests/Mystira.App.Api.Tests/Controllers/AccountsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/AgeGroupsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/ArchetypesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/CompassAxesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/HealthControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/ScenariosControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserProfilesControllerTests.cs
  tests/Mystira.App.Api.Tests/Repositories/PendingSignupRepositoryTests.cs
Due: none

fix: Fix .NET 9 compatibility for Wolverine configuration
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/DeleteScenarioCommandHandlerTests.cs
Due: none

fix: Fix Wolverine handler discovery to use Application assembly
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
Due: none

fix: Fix in-memory database isolation in integration tests
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
Due: none

test: Remove CQRS integration tests with incorrect expectations
  tests/Mystira.App.Application.Tests/CQRS/Accounts/AccountCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/CreateAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/DeleteAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/GetAgeGroupsQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/UpdateAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/ValidateAgeGroupQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/ArchetypeCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/CreateArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/DeleteArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/GetArchetypesQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/UpdateArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/ValidateArchetypeQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/BadgeConfigurations/BadgeConfigurationQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Badges/CalculateBadgeScoresQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/CreateCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/DeleteCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/GetCompassAxesQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/UpdateCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/ValidateCompassAxisQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/ContentBundles/ContentBundleQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/MasterData/FantasyThemeAndAgeGroupTests.cs
  tests/Mystira.App.Application.Tests/CQRS/MasterData/MasterDataCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/GetFeaturedScenariosQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/GetPaginatedScenariosQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/GetScenarioQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/GetScenariosByAgeGroupQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/GetScenariosQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/ScenarioQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/UserProfileCommandTests.cs
Due: none

test: Remove tests with mock setup issues
  tests/Mystira.App.Api.Tests/Controllers/BundlesControllerTests.cs
  tests/Mystira.App.Application.Tests/UseCases/Media/MediaUseCaseTests.cs
Due: none

security: Fix CodeQL warnings in AccountsController
  src/Mystira.App.Api/Controllers/AccountsController.cs
  tests/Mystira.App.Api.Tests/Controllers/AccountsControllerTests.cs
Due: unittests, API

chore(deps): Update all dependencies to latest versions
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Domain/Mystira.App.Domain.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.Teams/Mystira.App.Infrastructure.Teams.csproj
  src/Mystira.App.Infrastructure.WhatsApp/Mystira.App.Infrastructure.WhatsApp.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
  tests/Mystira.App.Infrastructure.Teams.Tests/Mystira.App.Infrastructure.Teams.Tests.csproj
  tests/Mystira.App.Infrastructure.WhatsApp.Tests/Mystira.App.Infrastructure.WhatsApp.Tests.csproj
  tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
Due: unittests, API, PWA, Domain, Application, Infrastructure Data, Infrastructure Azure, Infrastructure StoryProtocol, Shared

refactor(auth): Remove old passwordless sign-in in favor of Entra External ID
  src/Mystira.App.PWA/Models/PasswordlessAuth.cs
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignIn.razor.css
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/Pages/SignUp.razor.css
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiClient.cs
  src/Mystira.App.PWA/Services/AuthApiClient.cs
  src/Mystira.App.PWA/Services/AuthService.cs
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  src/Mystira.App.PWA/Services/IApiClient.cs
  src/Mystira.App.PWA/Services/IAuthApiClient.cs
  src/Mystira.App.PWA/Services/IAuthService.cs
Due: unittests, PWA

feat(auth): Polish sign-in/sign-up UI with modern design
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

test: Add comprehensive test coverage for API controllers and domain models
  tests/Mystira.App.Api.Tests/Controllers/BadgesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/ScenariosControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserProfilesControllerTests.cs
  tests/Mystira.App.Application.Tests/Domain/JsonConverterTests.cs
  tests/Mystira.App.Application.Tests/Domain/ScenarioGraphValidatorTests.cs
Due: none

Update tests/Mystira.App.Api.Tests/Controllers/BadgesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/BadgesControllerTests.cs
Due: none

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  Admin API: any of: src/Mystira.App.Admin.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
  Contracts: any of: src/Mystira.Contracts.App/**
  Infrastructure Data: any of: src/Mystira.App.Infrastructure.Data/**
  Infrastructure Azure: any of: src/Mystira.App.Infrastructure.Azure/**
  Infrastructure Discord: any of: src/Mystira.App.Infrastructure.Discord/**
  Infrastructure StoryProtocol: any of: src/Mystira.App.Infrastructure.StoryProtocol/**
  Shared: any of: src/Mystira.App.Shared/**
