Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

added missing files
  src/Mystira.App.Admin.Api/Adapters/JwtServiceAdapter.cs
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
  src/Mystira.App.Shared/Services/IJwtService.cs
  src/Mystira.App.Shared/Services/JwtService.cs
Due: unittests

fixed unit test
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
Due: none

Refactored Admin scenario action buttons to use CSP-safe delegated event bindings, removed unused development tools from Dashboard view.
  src/Mystira.App.Admin.Api/Views/Admin/Dashboard.cshtml
  src/Mystira.App.Admin.Api/Views/Admin/Scenarios.cshtml
Due: unittests

small changes
  src/Mystira.App.Admin.Api/Validation/ScenarioSchemaDefinitions.cs
  src/Mystira.App.Application/Parsers/BranchParser.cs
Due: unittests, Application

Removed unused Admin views, controllers, and services related to app status, characters, and character maps. Cleaned up redundant code and streamlined the project's structure.
  Mystira.App.sln
  src/Mystira.App.Admin.Api/Controllers/CharacterMapsAdminController.cs
  src/Mystira.App.Admin.Api/Controllers/EchoTypesController.cs
  src/Mystira.App.Admin.Api/Controllers/FantasyThemesController.cs
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Admin.Api/Services/ClientApiService.cs
  src/Mystira.App.Admin.Api/Services/ClientStatusService.cs
  src/Mystira.App.Admin.Api/appsettings.Development.json
  src/Mystira.App.Admin.Api/appsettings.json
  src/Mystira.App.Admin.Api/wwwroot/.gitkeep
  src/Mystira.App.Admin.Web/Controllers/AdminController.cs
  src/Mystira.App.Admin.Web/Mystira.App.Admin.Web.csproj
  src/Mystira.App.Admin.Web/Program.cs
  src/Mystira.App.Admin.Web/Services/AppStatusService.cs
  src/Mystira.App.Admin.Web/Services/IAppStatusService.cs
  src/Mystira.App.Admin.Web/Views/Admin/AppStatus.cshtml
  src/Mystira.App.Api/Controllers/ApiInfoController.cs
  src/Mystira.App.Api/Controllers/CharacterController.cs
  src/Mystira.App.Api/Controllers/CharacterMapsController.cs
  src/Mystira.App.Api/Controllers/CharacterMediaMetadataController.cs
  src/Mystira.App.Api/Controllers/EchoTypesController.cs
  src/Mystira.App.Api/Controllers/FantasyThemesController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/Services/AppStatusService.cs
  src/Mystira.App.Api/Services/IAppStatusService.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  src/Mystira.App.PWA/Components/HeroSection.razor
  src/Mystira.App.PWA/Components/ToastContainer.razor
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/Services/ScenarioApiClient.cs
  src/Mystira.App.PWA/Shared/DiscordWidget.razor
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
Due: unittests, API, PWA

Updated `appsettings.json` with new local API address and removed unused "Character Maps" row from Admin Dashboard view.
  src/Mystira.App.Admin.Web/Views/Admin/Dashboard.cshtml
  src/Mystira.App.Admin.Web/appsettings.json
Due: unittests

feat: add NuGet package metadata to shared libraries
  .github/workflows/publish-shared-packages.yml
  src/Discord.ExampleBot/Discord.ExampleBot.csproj
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Contracts/Mystira.App.Contracts.csproj
  src/Mystira.App.Domain/Mystira.App.Domain.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.Teams/Mystira.App.Infrastructure.Teams.csproj
  src/Mystira.App.Infrastructure.WhatsApp/Mystira.App.Infrastructure.WhatsApp.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
Due: unittests, API, PWA, Domain, Application

fix: correct Domain.csproj - remove duplicate project elements
  src/Mystira.App.Domain/Mystira.App.Domain.csproj
Due: unittests, Domain

refactor: update GitHub secrets to use MYSTIRA_DEVOPS_ prefix
  .github/workflows/publish-shared-packages.yml
  docs/nuget/IMPLEMENTATION_STATUS.md
  docs/nuget/NUGET_SETUP.md
  docs/nuget/PACKAGE_PUBLISHING_CHECKLIST.md
  nupkg/Mystira.App.Domain.1.0.0.nupkg
  nupkg/Mystira.App.Domain.1.0.0.snupkg
Due: none

chore: add new line to multiple documentation and configuration files
  .github/workflows/publish-shared-packages.yml
  NuGet.config.template
  docs/NUGET_FEED_SETUP.md
  docs/nuget/IMPLEMENTATION_STATUS.md
  docs/nuget/NUGET_SETUP.md
  docs/nuget/PACKAGE_PUBLISHING_CHECKLIST.md
Due: none

updated feature card image bounding box
  src/Mystira.App.PWA/Components/FeaturedBundleCard.razor.css
Due: unittests, PWA

email message enhancement
  src/Mystira.App.Infrastructure.Azure/Services/AzureEmailService.cs
Due: unittests

fixed missing in progress adventures if there are no profiles
  src/Mystira.App.PWA/Components/AdventuresSection.razor
Due: unittests, PWA

Enhanced email subject line to include the verification code directly
  src/Mystira.App.Infrastructure.Azure/Services/AzureEmailService.cs
Due: unittests

Improved "Remember Me" checkbox styling with custom design for consistent visibility across browsers, enhanced dark mode and high-contrast support, and ensured better accessibility.
  src/Mystira.App.PWA/wwwroot/css/app.css
Due: unittests, PWA

remember me by default
  src/Mystira.App.PWA/Pages/SignIn.razor
Due: unittests, PWA

Resolved player and scene assignment logic for choice scenes, added ActiveCharacter validation in scenarios, and implemented initial player assignment prompt for better onboarding experience.
  src/Mystira.App.Admin.Api/Services/GameSessionApiService.cs
  src/Mystira.App.Admin.Api/Validation/ScenarioSchemaDefinitions.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/MakeChoiceCommandHandler.cs
  src/Mystira.App.Application/UseCases/GameSessions/MakeChoiceUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/ValidateScenarioUseCase.cs
  src/Mystira.App.Domain/Models/Scenario.cs
  src/Mystira.App.Domain/Models/YamlScenario.cs
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
Due: unittests, PWA, Domain, Application

Added feature flag for Discord integration, optimized character assignment for toddler scenarios, improved badge repository sorting logic, and refined UserBadge query implementation.
  Mystira.App.sln
  src/Mystira.App.Application/CQRS/Badges/Queries/GetProfileBadgeProgressQueryHandler.cs
  src/Mystira.App.Infrastructure.Data/Repositories/BadgeRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/UserBadgeRepository.cs
  src/Mystira.App.PWA/Components/AdventuresSection.razor
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
Due: unittests, PWA, Application

Potential fix for pull request finding 'Missing Dispose call on local IDisposable'
  tests/Mystira.App.Application.Tests/UseCases/Media/MediaUseCaseTests.cs
Due: none

Fix duplicate packages in codecov report by merging coverage reports
  .github/workflows/ci-tests-codecov.yml
Due: none

Update .gitignore to include Node.js, build artifacts, NuGet packages, IDE, and OS files
  .gitignore
Due: none

Added FinalizeSession endpoint to compute scoring and award badges, updated DI with scoring and awarding services, and integrated client-side API support.
  src/Mystira.App.Api/Controllers/GameSessionsController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.PWA/Services/ApiClient.cs
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
  src/Mystira.App.PWA/Services/GameSessionService.cs
  src/Mystira.App.PWA/Services/IApiClient.cs
  src/Mystira.App.PWA/Services/IGameSessionApiClient.cs
Due: unittests, API, PWA

Finalized game session workflow with scoring and badge awarding, added cacheable badge and user badge queries, and introduced Discord integration fallback with a no-op client.
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommand.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommandHandler.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesByAxisQuery.cs
  src/Mystira.App.PWA/Models/FinalizeSessionModels.cs
  src/Mystira.App.PWA/Services/NullDiscordApiClient.cs
Due: unittests, PWA, Application

Refactored badge progress query to simplify earned badge handling, optimized axis badge scoring logic, and refined final scene rendering by replacing auto-navigation with a finish flow modal.
  src/Mystira.App.Application/CQRS/Badges/Queries/GetProfileBadgeProgressQueryHandler.cs
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA, Application

Improved null safety in `AchievementsPage.razor` by enhancing age group and profile name fallback logic.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
Due: unittests, PWA

Improved profile avatar rendering with `CachedMystiraImage`, added new styles for avatar images, and adjusted empty state logic to ensure header visibility.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Pages/AchievementsPage.razor.css
Due: unittests, PWA

Restored advanced view styles, improved tier card states with "locked" styling, refined grid layouts for simplified and advanced views, and adjusted profile and badge responsiveness.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Pages/AchievementsPage.razor.css
Due: unittests, PWA

Refined "locked" tier card styling, adjusted simplified grid layouts for responsiveness, and enhanced badge thumbnail presentation.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor.css
Due: unittests, PWA

Updated simplified view to use 3-column grid with 16:9 aspect ratio for badges, added info icon overlay, and adjusted badge styling for improved presentation.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Pages/AchievementsPage.razor.css
Due: unittests, PWA

Added `AgeGroupMismatchModal` component to display warnings for players outside the target age group, including modal handling, mismatched profile listing, and "Don't show again" support.
  src/Mystira.App.PWA/Components/AgeGroupMismatchModal.razor
Due: unittests, PWA

Updated button styling in game scene and awards modal to enforce consistent white text color across all states.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
Due: unittests, PWA

fixed axis scoring
  src/Mystira.App.Application/Services/AxisScoringService.cs
Due: unittests, Application

Added support for displaying `ProfileName` in badge awards, including backend model updates and UI enhancements.
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommand.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommandHandler.cs
  src/Mystira.App.PWA/Models/FinalizeSessionModels.cs
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA, Application

Refactored character assignment logic to improve handling of `PlayerAssignment` type checks and streamline placeholder replacement.
  src/Mystira.App.PWA/Services/GameSessionService.cs
Due: unittests, PWA

Updated badge awards to always include entries for all players, added UI handling for players with no badges, and improved placeholder replacement logic with enhanced regex-driven parsing.
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommandHandler.cs
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Services/GameSessionService.cs
Due: unittests, PWA, Application

Added `IAwardsState` service and updated badge awarding flow to navigate to a dedicated Awards page after session completion.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Program.cs
Due: unittests, PWA

Implemented dedicated Awards page and `IAwardsState` service to manage session results and display earned badges, including UI for players without awards and auto-redirect logic.
  src/Mystira.App.PWA/Pages/AwardsPage.razor
  src/Mystira.App.PWA/Services/AwardsState.cs
Due: unittests, PWA

Added `AlreadyPlayed` flag to session models, updated backend logic to handle replays, and enhanced Awards page with categorization for players with no badges.
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommand.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommandHandler.cs
  src/Mystira.App.PWA/Models/FinalizeSessionModels.cs
  src/Mystira.App.PWA/Pages/AwardsPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Services/AwardsState.cs
Due: unittests, PWA, Application

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
