Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

Refactor comments in CalculateBadgeScoresQueryHandler
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
Due: unittests, Application

Delete .github/workflows/mystira-app-admin-api-cicd-dev.yml
  .github/workflows/mystira-app-admin-api-cicd-dev.yml
Due: none

Delete .github/workflows/mystira-app-admin-api-cicd-prod.yml
  .github/workflows/mystira-app-admin-api-cicd-prod.yml
Due: none

Delete .github/workflows/mystira-app-admin-api-cicd-staging.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
Due: none

fixed doc string
  src/Mystira.App.Api/Controllers/BadgesController.cs
Due: unittests, API

Improved achievements pre-loading by batching API calls with `Task.WhenAll` and caching badge/axis configuration to reduce redundant requests.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Services/AchievementsService.cs
Due: unittests, PWA

Switched from `Auth0UserId` to `Id` in JWT generation and updated repository calls to use `GetByIdAsync` for consistency. Updated related tests to reflect changes.
  src/Mystira.App.Application/CQRS/Auth/Commands/RefreshTokenCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/VerifyPasswordlessSigninCommandHandler.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/VerifyPasswordlessSignupCommandHandler.cs
  tests/Mystira.App.Application.Tests/CQRS/Auth/AuthCommandTests.cs
Due: unittests, Application

Improved `DeleteCompassAxisCommandHandlerTests` with specific assertion messages and validated deleted axis ID. Added query cache clearance in `Dispose` method.
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/DeleteCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
Due: none

Replaced embedded dice roll audio with external file, extended
  src/Mystira.App.PWA/Components/DiceRoller.razor
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.PWA/wwwroot/service-worker.js
  src/Mystira.App.PWA/wwwroot/sounds/dice-roll-1500ms.mp3
Due: unittests, PWA

docs: Add planning, migration, and analysis documentation from Mystira.workspace
  docs/analysis/README.md
  docs/analysis/app-components-extraction.md
  docs/analysis/repository-role-analysis.md
  docs/migration/README.md
  docs/migration/admin-api-extraction-plan.md
  docs/planning/README.md
  docs/planning/implementation-roadmap.md
Due: none

docs: Add polyglot integration to roadmap and update Admin API status
  docs/migration/README.md
  docs/migration/admin-api-extraction-plan.md
  docs/planning/implementation-roadmap.md
Due: none

docs(adr): Add ADR-0014 Implementation Roadmap
  docs/architecture/adr/ADR-0014-implementation-roadmap.md
  docs/architecture/adr/README.md
Due: none

feat(polyglot): Implement Phase 1.5 gRPC integration with Mystira.Chain
  protos/README.md
  protos/mystira/chain/v1/chain_service.proto
  protos/mystira/chain/v1/common.proto
  protos/mystira/chain/v1/ip_assets.proto
  protos/mystira/chain/v1/royalties.proto
  src/Mystira.App.Application/Configuration/StoryProtocol/ChainServiceOptions.cs
  src/Mystira.App.Domain/Models/TransactionStatus.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
Due: unittests, Domain, Application

docs(planning): Add hybrid data strategy and Wolverine migration roadmaps
  docs/planning/README.md
  docs/planning/hybrid-data-strategy-roadmap.md
  docs/planning/wolverine-migration-roadmap.md
Due: none

feat: Complete Phase 1.5 gRPC integration and add Wolverine ADR
  docs/architecture/adr/ADR-0015-wolverine-migration.md
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Api/appsettings.Development.json
  src/Mystira.App.Api/appsettings.Production.json
  src/Mystira.App.Api/appsettings.Staging.json
  src/Mystira.App.Api/appsettings.json
Due: unittests, API

fix: Update JWT package and fix namespace
  src/Mystira.App.Api/Validation/ScenarioSchemaDefinitions.cs
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
Due: unittests, API

feat(grpc): Add health checks and API key authentication for Chain service
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Configuration/StoryProtocol/ChainServiceOptions.cs
  src/Mystira.App.Infrastructure.StoryProtocol/HealthChecks/ChainServiceHealthCheck.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
Due: unittests, API, Application

chore: Add NuGet package metadata to all shared libraries
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Contracts/Mystira.App.Contracts.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
Due: unittests, Application

feat: Implement Phase 2 Pipeline and Phase 5 Security improvements
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-cicd-staging.yml
  .github/workflows/security-scanning.yml
  docs/planning/implementation-roadmap.md
Due: none

feat(security): Add Azure Key Vault configuration and secret rotation docs
  docs/operations/secret-rotation.md
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.Production.json
  src/Mystira.App.Api/appsettings.Staging.json
  src/Mystira.App.Shared/Configuration/KeyVaultConfigurationExtensions.cs
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
Due: unittests, API

feat(security): Complete Phase 5 and add polyglot persistence foundation
  docs/planning/implementation-roadmap.md
  docs/security/rbac-and-managed-identity.md
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
Due: unittests, Application

feat(specs): Add Ardalis.Specification base classes and entity specs
  src/Mystira.App.Application/Ports/Data/IReadRepository.cs
  src/Mystira.App.Application/Specifications/AccountSpecifications.cs
  src/Mystira.App.Application/Specifications/BaseEntitySpecification.cs
  src/Mystira.App.Application/Specifications/GameSessionSpecifications.cs
  src/Mystira.App.Application/Specifications/ScenarioSpecifications.cs
  src/Mystira.App.Application/Specifications/UserProfileSpecifications.cs
Due: unittests, Application

feat(repo): Add IPolyglotRepository with dual-write migration support
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/MigrationPhase.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/EfSpecificationRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
Due: unittests, Application

feat(cache): Add Redis caching with cache-aside pattern
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Infrastructure.Data/Caching/CacheOptions.cs
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/Caching/CachingServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Caching/RedisCacheHealthCheck.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
Due: unittests

feat(specs): Complete Phase 1.6 with unit tests and deprecation notices
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Domain/Specifications/BaseSpecification.cs
  tests/Mystira.App.Application.Tests/Specifications/AccountSpecificationsTests.cs
  tests/Mystira.App.Application.Tests/Specifications/GameSessionSpecificationsTests.cs
  tests/Mystira.App.Application.Tests/Specifications/UserProfileSpecificationsTests.cs
Due: unittests, Domain

feat(cicd): Add blue-green deployments and automated rollback
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-rollback.yml
  docs/planning/implementation-roadmap.md
Due: none

feat(monitoring): Add SLO definitions and distributed tracing
  docs/operations/slo-definitions.md
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Shared/Telemetry/DistributedTracingExtensions.cs
Due: unittests

docs(ops): Add runbooks for emergency rollback and disaster recovery
  docs/operations/runbooks/README.md
  docs/operations/runbooks/disaster-recovery.md
  docs/operations/runbooks/emergency-rollback.md
Due: none

docs: Add Azure AD B2C integration guide for Blazor PWA
  docs/authentication/AZURE_AD_B2C_INTEGRATION.md
Due: none

docs: Add Microsoft Entra External ID integration guide
  docs/authentication/AZURE_AD_B2C_INTEGRATION.md
  docs/authentication/ENTRA_EXTERNAL_ID_INTEGRATION.md
Due: none

Update src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
Due: unittests

fix: Add /v2.0 suffix to authority endpoint in integration guide
  docs/authentication/ENTRA_EXTERNAL_ID_INTEGRATION.md
Due: none

updated external config
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
Due: unittests, API, PWA

feat: Add Microsoft Entra External ID authentication with Google social login
  docs/authentication/ENTRA_EXTERNAL_ID_PWA_SETUP.md
  docs/authentication/README.md
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.PWA/Pages/Authentication/LoginCallback.razor
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
Due: unittests, PWA

feat: Configure API to validate Entra External ID JWT tokens
  docs/authentication/ENTRA_EXTERNAL_ID_API_SETUP.md
  docs/authentication/README.md
  src/Mystira.App.Api/appsettings.json
Due: unittests, API

fix: Implement missing IAuthService methods and wire up Google sign-in
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

feat: Add configurable authentication provider in Program.cs
  src/Mystira.App.PWA/Program.cs
Due: unittests, PWA

Updated `appsettings` to replace placeholder ClientId values with real configuration values for PWA and API. Removed redundant whitespace in `EntraExternalIdAuthService` for code cleanup.
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
Due: unittests, API, PWA

feat: Add Google sign-up button to SignUp.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
Due: unittests, PWA

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
