Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "header, diff, flags, components, tree, betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - src/Mystira.App.Api/**
    - component_id: pwa
      name: PWA
      paths:
        - src/Mystira.App.PWA/**
    - component_id: domain
      name: Domain
      paths:
        - src/Mystira.App.Domain/**
    - component_id: application
      name: Application
      paths:
        - src/Mystira.App.Application/**

Updated Awards flow to always navigate to the Awards page after session completion, regardless of badge presence.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Synthesized minimal awards payload for guest sessions to ensure navigation to the Awards page, even when finalize results are unavailable.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Enhanced Awards modal logic to categorize no-badge scenarios, added precomputation of badge triage buckets, and updated UI to handle cases where no badges are earned.
  src/Mystira.App.PWA/Pages/AwardsPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Added `AgeGroupHelper` utility to compare age groups with string equality and numeric bounds matching.
  src/Mystira.App.PWA/Services/AgeGroupHelper.cs
Due: unittests, PWA

Improved AwardsPage logic by adding fallback age group determination, enhanced profiling and logging, and refined badge
  src/Mystira.App.PWA/Pages/AwardsPage.razor
Due: unittests, PWA

Fix footer overlap with environment indicator banner
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
Due: unittests, PWA

Fix workflow_run access in github-script actions
  .github/workflows/swa-preview-tests.yml
Due: none

Remove missing projects from solution file
  Mystira.App.sln
Due: none

Converted `EchoType` from custom type to plain string across the codebase, removed related validation logic, and updated models, services, and serializers accordingly.
  src/Mystira.App.Admin.Api/Services/ScenarioApiService.cs
  src/Mystira.App.Application/Parsers/EchoLogParser.cs
  src/Mystira.App.Application/Parsers/EchoRevealParser.cs
  src/Mystira.App.Domain/Models/PlayerScenarioScore.cs
  src/Mystira.App.Domain/Models/Scenario.cs
  src/Mystira.App.Domain/Models/YamlScenario.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  tests/Mystira.App.Application.Tests/Services/AxisScoringServiceTests.cs
Due: unittests, Domain, Application

Removed redundant `using` directives, refactored exception handling for service calls, and applied consistent formatting across tests and controllers.
  src/Mystira.App.Api/Adapters/JwtServiceAdapter.cs
  src/Mystira.App.Api/Controllers/BundlesController.cs
  src/Mystira.App.Api/Controllers/MediaController.cs
  src/Mystira.App.Api/Controllers/UserProfilesController.cs
  src/Mystira.App.Api/Models/MediaModels.cs
  src/Mystira.App.Api/Models/ScenarioRequestCreator.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommandHandler.cs
  src/Mystira.App.Domain/Models/BaseEntity.cs
  tests/Mystira.App.Admin.Api.Tests/Controllers/BundlesAdminControllerTests.cs
  tests/Mystira.App.Admin.Api.Tests/Integration/DatabaseInitializationTests.cs
  tests/Mystira.App.Api.Tests/Controllers/BundlesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/HealthControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/MediaControllerTests.cs
  tests/Mystira.App.Api.Tests/Repositories/PendingSignupRepositoryTests.cs
  tests/Mystira.App.Api.Tests/Services/AzureBlobServiceTests.cs
  tests/Mystira.App.Application.Tests/CQRS/BadgeConfigurations/BadgeConfigurationQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/FinalizeGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeQueryTests.cs
  tests/Mystira.App.Application.Tests/Models/AccountTests.cs
  tests/Mystira.App.Application.Tests/Models/CompassProgressPipelineTests.cs
  tests/Mystira.App.Application.Tests/Models/ContributorTests.cs
  tests/Mystira.App.Application.Tests/Models/GameSessionTests.cs
  tests/Mystira.App.Application.Tests/Models/RandomNameGeneratorTests.cs
  tests/Mystira.App.Application.Tests/Models/ScenarioTests.cs
  tests/Mystira.App.Application.Tests/Models/StoryProtocolMetadataTests.cs
  tests/Mystira.App.Application.Tests/Models/UserProfileTests.cs
  tests/Mystira.App.Application.Tests/Services/AxisScoringServiceTests.cs
  tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
  tests/Mystira.App.PWA.Tests/Components/ErrorBoundaryWrapperTests.cs
  tests/Mystira.App.PWA.Tests/Components/LoadingIndicatorTests.cs
  tests/Mystira.App.PWA.Tests/Components/ToastContainerTests.cs
  tests/Mystira.App.PWA.Tests/Services/AchievementsMapperTests.cs
  tests/Mystira.App.PWA.Tests/Services/ToastServiceTests.cs
Due: unittests, API, Domain, Application

Added out-of-age player handling to GameSessionPage, precomputed warning states, and implemented ProfileAxisScoresController for accessing profile axis scores.
  src/Mystira.App.Api/Controllers/ProfileAxisScoresController.cs
  src/Mystira.App.Application/CQRS/GameSessions/Commands/FinalizeGameSessionCommandHandler.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, API, PWA, Application

Add missing Domain project reference to Contracts project
  src/Mystira.App.Contracts/Mystira.App.Contracts.csproj
Due: unittests

Added validation for minimum profile name length in `CreateUserProfileCommandHandler` and improved test coverage for GameSession and UserProfile command handlers.
  src/Mystira.App.Application/CQRS/UserProfiles/Commands/CreateUserProfileCommandHandler.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/PauseResumeEndGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/ProgressSceneCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/StartGameSessionCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserProfiles/CreateUserProfileCommandHandlerTests.cs
  tests/Mystira.App.PWA.Tests/Pages/AchievementsPageTests.cs
Due: unittests, Application

add cancel button
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
Due: unittests, PWA

Wrapped media elements in a unified `FantasyMediaFrame` component for consistent styling, added support for decorative frames, and introduced reusable CSS and parameters for customizable visuals.
  src/Mystira.App.PWA/Components/FantasyMediaFrame.razor
  src/Mystira.App.PWA/Components/FantasyMediaFrame.razor.css
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
Due: unittests, PWA

Added `ISettingsService` to DI container and adjusted `.form-check` styles in `AccountSettingsModal` for improved layout
  src/Mystira.App.PWA/Components/AccountSettingsModal.razor.css
  src/Mystira.App.PWA/Program.cs
Due: unittests, PWA

Added `gamesession-media-border.svg` to `wwwroot/images` for use in game session visuals.
  src/Mystira.App.PWA/Components/FantasyMediaFrame.razor
  src/Mystira.App.PWA/Components/FantasyMediaFrame.razor.css
  src/Mystira.App.PWA/wwwroot/images/gamesession-media-border.svg
Due: unittests, PWA

Added guest warning support to AccountSettingsModal and streamlined age/replay warning toggle logic
  src/Mystira.App.PWA/Components/AccountSettingsModal.razor
  src/Mystira.App.PWA/Components/FantasyMediaFrame.razor
  src/Mystira.App.PWA/Components/FantasyMediaFrame.razor.css
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Services/ISettingsService.cs
  src/Mystira.App.PWA/Services/SettingsService.cs
Due: unittests, PWA

Removed unnecessary authorization header logic from GameSessionApiClient, optimized out-of-age player handling in GameSessionPage, and refactored `GetProfileByIdAsync` for better code reuse.
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/GameSessionApiClient.cs
  src/Mystira.App.PWA/Services/UserProfileApiClient.cs
Due: unittests, PWA

Removed game session content block from AdventuresSection to streamline display logic and improve code clarity.
  src/Mystira.App.PWA/Components/AdventuresSection.razor
Due: unittests, PWA

Added fallback styles for browsers without `aspect-ratio` support in `AvatarCarousel`, including adjustments for proper image scaling and positioning.
  src/Mystira.App.PWA/Components/AvatarCarousel.razor.css
Due: unittests, PWA

Forced light mode across the app, removed dark mode support, updated age group validation range to "19-150," and adjusted associated UI and schema references.
  src/Mystira.App.Admin.Api/Validation/ScenarioSchemaDefinitions.cs
  src/Mystira.App.Admin.Api/Views/Admin/AvatarManagement.cshtml
  src/Mystira.App.Api/Validation/ScenarioSchemaDefinitions.cs
  src/Mystira.App.Application/Validation/ScenarioSchemaDefinitions.cs
  src/Mystira.App.Domain/Models/AgeGroupConstants.cs
  src/Mystira.App.PWA/Components/AdventureCard.razor.css
  src/Mystira.App.PWA/Components/AdventuresSection.razor
  src/Mystira.App.PWA/Components/AdventuresSection.razor.css
  src/Mystira.App.PWA/Components/AvatarCarousel.razor
  src/Mystira.App.PWA/Components/AvatarCarousel.razor.css
  src/Mystira.App.PWA/Components/BundleCard.razor.css
  src/Mystira.App.PWA/Components/ContentAttribution.razor.css
  src/Mystira.App.PWA/Components/ErrorNavigator.razor.css
  src/Mystira.App.PWA/Components/FeaturedBundleCard.razor.css
  src/Mystira.App.PWA/Components/FilterSection.razor.css
  src/Mystira.App.PWA/Components/HeroSection.razor.css
  src/Mystira.App.PWA/Components/IpVerificationBadge.razor.css
  src/Mystira.App.PWA/Components/ThemeToggle.razor
  src/Mystira.App.PWA/Components/ThemeToggle.razor.css
  src/Mystira.App.PWA/Components/ToastContainer.razor.css
  src/Mystira.App.PWA/Components/UpdateNotification.razor.css
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor.css
  src/Mystira.App.PWA/Pages/GameSessionPage.razor.css
  src/Mystira.App.PWA/Pages/ProfilesPage.razor.css
  src/Mystira.App.PWA/Pages/SignIn.razor.css
  src/Mystira.App.PWA/Pages/SignUp.razor.css
  src/Mystira.App.PWA/Shared/MainLayout.razor.css
  src/Mystira.App.PWA/wwwroot/css/app.css
  src/Mystira.App.PWA/wwwroot/dice.js
  src/Mystira.App.PWA/wwwroot/index.html
  src/Mystira.App.PWA/wwwroot/js/logoIntroVideo.js
Due: unittests, API, PWA, Domain, Application

Expanded age group range to include "19-150" and updated AgeGroups.json with corresponding data.
  src/Mystira.App.Domain/Data/AgeGroups.json
  src/Mystira.App.Domain/Models/UserProfile.cs
Due: unittests, Domain

Refactored `GetAgeRangeDisplay` in ProfilesPage to use `AgeGroupConstants.GetDisplayName` for improved readability and maintainability. Added "19-150" age group to AchievementsPage logic.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Pages/ProfilesPage.razor
Due: unittests, PWA

Updated package dependencies in `Mystira.App.Shared.csproj` to latest versions, added logging, options, health checks, and Application Insights packages for improved diagnostics and telemetry support.
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
Due: unittests

Updated Microsoft.ApplicationInsights packages to version 2.23.0 across projects for improved telemetry and monitoring.
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Api/Mystira.App.Api.csproj
  tests/Mystira.App.Admin.Api.Tests/Mystira.App.Admin.Api.Tests.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
Due: unittests, API

Added platinum and diamond tiers to AchievementsPage with corresponding styles and progress bar support.
  src/Mystira.App.PWA/Pages/AchievementsPage.razor
  src/Mystira.App.PWA/Pages/AchievementsPage.razor.css
Due: unittests, PWA

initial fixes to get it to compile and tests working
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/CQRS/Auth/Commands/RequestPasswordlessSigninCommandHandler.cs
  src/Mystira.App.Application/CQRS/Health/Queries/GetHealthCheckQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Commands/CreateScenarioCommandHandler.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Health/IHealthCheckPort.cs
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/CreateScenarioUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/UpdateScenarioUseCase.cs
  src/Mystira.App.Domain/Models/Account.cs
  src/Mystira.App.Domain/Models/BadgeThresholds.cs
  src/Mystira.App.Domain/Models/UserProfile.cs
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Repositories/AgeGroupRepository.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolClient.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/StoryProtocolService.cs
  src/Mystira.App.Infrastructure.WhatsApp/Mystira.App.Infrastructure.WhatsApp.csproj
  src/Mystira.App.PWA/Components/AccountSettingsModal.razor
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/CQRS/Accounts/AccountCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/DeleteAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/ArchetypeCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Auth/AuthCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/GameSessions/GameSessionQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/MasterData/MasterDataCommandTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/ScenarioQueryTests.cs
  tests/Mystira.App.Application.Tests/CQRS/UserBadges/UserBadgeTests.cs
  tests/Mystira.App.Application.Tests/Domain/AgeGroupConstantsTests.cs
  tests/Mystira.App.Application.Tests/Domain/DomainModelTests.cs
  tests/Mystira.App.Application.Tests/UseCases/Media/MediaUseCaseTests.cs
Due: unittests, API, PWA, Domain, Application

Added `IHealthCheckPort` interface and associated models for platform-agnostic health check operations.
  src/Mystira.App.Shared/Ports/Health/IHealthCheckPort.cs
Due: unittests

Added integration tests for AuthController and CQRS Auth commands, standardized responses with `AuthResponse` and `CommandResponse`, and introduced `ValidationResult` for common API validation.
  src/Mystira.App.Application/CQRS/Auth/Responses/AuthResponse.cs
  src/Mystira.App.Application/CQRS/Common/Responses/CommandResponse.cs
  src/Mystira.App.Contracts/Common/ValidationResult.cs
  tests/Mystira.App.Api.Tests/Controllers/AuthControllerIntegrationTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Auth/AuthIntegrationTests.cs
Due: unittests, Application

Configured in-memory app settings for `AuthControllerIntegrationTests` to support JWT and database initialization scenarios.
  tests/Mystira.App.Api.Tests/Controllers/AuthControllerIntegrationTests.cs
Due: none

Configured `AuthControllerIntegrationTests` to use "Testing" environment; added JWT settings and database initialization toggle to `appsettings.Testing.json`.
  src/Mystira.App.Api/appsettings.Testing.json
  tests/Mystira.App.Api.Tests/Controllers/AuthControllerIntegrationTests.cs
Due: unittests, API

Enhanced audio orchestration and scenario handling:
  src/Mystira.App.Api/Controllers/MediaController.cs
  src/Mystira.App.Application/UseCases/Scenarios/GetScenariosUseCase.cs
  src/Mystira.App.Contracts/Responses/Scenarios/ScenarioSummary.cs
  src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.cs
  src/Mystira.App.PWA/Components/AccountSettingsModal.razor
  src/Mystira.App.PWA/Models/Scenario.cs
  src/Mystira.App.PWA/Models/ScenarioListResponseDto.cs
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Services/CharacterAssignmentService.cs
  src/Mystira.App.PWA/Services/GameSessionService.cs
  src/Mystira.App.PWA/Services/ISettingsService.cs
  src/Mystira.App.PWA/Services/Music/AudioBus.cs
  src/Mystira.App.PWA/Services/Music/IAudioBus.cs
  src/Mystira.App.PWA/Services/Music/MusicResolver.cs
  src/Mystira.App.PWA/Services/Music/SceneAudioOrchestrator.cs
  src/Mystira.App.PWA/Services/ScenarioApiClient.cs
  src/Mystira.App.PWA/Services/SettingsService.cs
  src/Mystira.App.PWA/wwwroot/js/audioPlayer.js
  tests/Mystira.App.Api.Tests/Controllers/MediaControllerTests.cs
  tests/Mystira.App.Api.Tests/Repositories/ScenarioRepositoryTests.cs
  tests/Mystira.App.PWA.Tests/Services/ScenarioApiClientTests.cs
Due: unittests, API, PWA, Application

Added `ClearTrackedKeys` method to `QueryCacheInvalidationService` and updated CQRS integration tests to ensure consistent cache state handling.
  src/Mystira.App.Application/Services/QueryCacheInvalidationService.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/DeleteArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
Due: unittests, Application

changed default tense energy
  src/Mystira.App.PWA/Services/Music/MusicResolver.cs
Due: unittests, PWA

feat: Add badge score calculation endpoint with CQRS pattern
  src/Mystira.App.Api/Controllers/BadgesController.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQuery.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  tests/Mystira.App.Application.Tests/CQRS/Badges/CalculateBadgeScoresQueryHandlerTests.cs
Due: unittests, API, Application

Updated `CalculateBadgeScoresQueryHandlerTests` to replace `SceneType.Narrative` with `SceneType.Special` for improved test coverage and adjusted percentile score calculations for branching scenarios.
  tests/Mystira.App.Application.Tests/CQRS/Badges/CalculateBadgeScoresQueryHandlerTests.cs
Due: none

Potential fix for pull request finding 'Inefficient use of ContainsKey'
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
Due: unittests, Application

Update BadgesController.cs
  src/Mystira.App.Api/Controllers/BadgesController.cs
Due: unittests, API
