Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

refactor: Migrate polyglot infrastructure to Mystira.Shared package
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/PolyglotMode.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotSyncLog.cs
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

refactor: Migrate polyglot infrastructure to Mystira.Shared package (#626)
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/PolyglotMode.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotSyncLog.cs
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

revert: Restore polyglot files pending Mystira.Shared update
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/PolyglotMode.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotSyncLog.cs
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

refactor: Migrate polyglot infrastructure to Mystira.Shared 0.5.0
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Data/IPolyglotRepository.cs
  src/Mystira.App.Application/Ports/Data/PolyglotMode.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotSyncLog.cs
  src/Mystira.App.Infrastructure.Data/PostgresDbContext.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Application, Infrastructure Data

fix: Remove deleted Mystira.App.Domain project from solution file
  Mystira.App.sln
Due: none

feat(ci): Add 7-layer validation stack workflows
  .github/workflows/monitor-sla.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-load.yml
  .github/workflows/test-unit.yml
Due: none

feat(ci): Add 7-layer validation stack workflows (#636)
  .github/workflows/monitor-sla.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-load.yml
  .github/workflows/test-unit.yml
Due: none

fix: revert Npgsql.EFCore to 9.0.4 (v10 requires .NET 10)
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
Due: unittests, Infrastructure Data

fix: Update PolyglotRepository for Mystira.Shared interface changes
  src/Mystira.App.Infrastructure.Data/Polyglot/EfSpecificationRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data

fix: Correct interface implementations for Mystira.Shared compatibility
  src/Mystira.App.Infrastructure.Azure/Services/AzureBlobService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data, Infrastructure Azure

fix: Remove invalid explicit interface implementations from PolyglotRepository
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data

fix: Resolve build errors for Azure.Storage.Blobs and IRepository interface
  src/Mystira.App.Infrastructure.Azure/Services/AzureBlobService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data, Infrastructure Azure

fix: Use IPolyglotRepository<T> for explicit interface implementations
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data

fix: Use fully qualified name for IRepository<T> interface implementations
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data

fix: Remove IPolyglotRepository<T> interface from PolyglotRepository
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests, Infrastructure Data

refactor: Remove local polyglot infrastructure (migrated to Mystira.Shared)
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/EfSpecificationRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, API, Infrastructure Data

fix: Add missing using statement for Application.Ports.Data
  src/Mystira.App.Api/Program.cs
Due: unittests, API

Claude/combined dependency updates jtldc (#638)
  .github/workflows/test-integration.yml
  .github/workflows/test-unit.yml
  global.json
  src/Mystira.App.Api/Controllers/PolyglotAdminController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Domain/Mystira.App.Domain.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Azure/Services/AzureBlobService.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Polyglot/EfSpecificationRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotBackfillService.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.Infrastructure.Teams/Mystira.App.Infrastructure.Teams.csproj
  src/Mystira.App.Infrastructure.WhatsApp/Mystira.App.Infrastructure.WhatsApp.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
  tests/Mystira.App.Infrastructure.Data.Tests/Mystira.App.Infrastructure.Data.Tests.csproj
  tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
  tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
Due: unittests, API, PWA, Domain, Application, Infrastructure Data, Infrastructure Azure, Infrastructure Discord

chore: Clean up stale configuration files
  .gitmodules
  docker-compose.yml
  src/Mystira.App.Api/Dockerfile
Due: unittests, API

fix: Update Mystira.Contracts to 0.5.0-alpha to match infrastructure dependencies
  src/Mystira.App.Api/Mystira.App.Api.csproj
Due: unittests, API

chore: Remove obsolete infrastructure workflows and paths
  .github/workflows/api-ci-dev.yml
  .github/workflows/deploy-trigger-workspace.yml
  .github/workflows/test-integration.yml
Due: none

Claude/merge infrastructure to dev jtldc (#641)
  .github/workflows/api-ci-dev.yml
  .github/workflows/deploy-trigger-workspace.yml
  .github/workflows/test-integration.yml
  .gitmodules
  docker-compose.yml
  src/Mystira.App.Api/Dockerfile
Due: unittests, API

refactor: Migrate repository interfaces to Mystira.Shared
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/GlobalUsings.cs
  src/Mystira.App.Application/Ports/Data/IAccountRepository.cs
  src/Mystira.App.Application/Ports/Data/IAxisAchievementRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeImageRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/ICharacterMapRepository.cs
  src/Mystira.App.Application/Ports/Data/IContentBundleRepository.cs
  src/Mystira.App.Application/Ports/Data/IGameSessionRepository.cs
  src/Mystira.App.Application/Ports/Data/IMediaAssetRepository.cs
  src/Mystira.App.Application/Ports/Data/IPlayerScenarioScoreRepository.cs
  src/Mystira.App.Application/Ports/Data/IReadRepository.cs
  src/Mystira.App.Application/Ports/Data/IRepository.cs
  src/Mystira.App.Application/Ports/Data/IScenarioRepository.cs
  src/Mystira.App.Application/Ports/Data/IUnitOfWork.cs
  src/Mystira.App.Application/Ports/Data/IUserBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserProfileRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
  src/Mystira.App.Infrastructure.Data/UnitOfWork/UnitOfWork.cs
Due: unittests, API, Application, Infrastructure Data

fix: Resolve repository implementation issues after interface migration
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/AxisAchievementRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/BadgeImageRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/BadgeRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/UserBadgeRepository.cs
  src/Mystira.App.Infrastructure.Data/UnitOfWork/UnitOfWork.cs
Due: unittests, Infrastructure Data

fix: Align Repository and CachedRepository with IRepositoryBase<T> from Ardalis.Specification
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/Caching/CachingServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Infrastructure Data

fix: Change mutation method return types to Task<int> in Repository and CachedRepository
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Infrastructure Data

fix: Add explicit interface implementations to resolve IRepository/IRepositoryBase conflicts
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Infrastructure Data

fix: Add explicit interface implementations for UpdateAsync and DeleteAsync
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Infrastructure Data

refactor: Upgrade to Mystira.Shared 0.5.2 and simplify Repository class
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, Application, Infrastructure Data

fix: Use prerelease version 0.5.2-alpha* for Mystira.Shared package
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, Application, Infrastructure Data

fix: Suppress NU1603 warning in Infrastructure.Payments (prerelease version mismatch)
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
Due: unittests

fix: Update repository interfaces for IRepository<TEntity, TKey> signature
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/UserBadges/Commands/AwardBadgeCommandHandler.cs
  src/Mystira.App.Application/Ports/Data/IAccountRepository.cs
  src/Mystira.App.Application/Ports/Data/IAxisAchievementRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeImageRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/ICharacterMapRepository.cs
  src/Mystira.App.Application/Ports/Data/IContentBundleRepository.cs
  src/Mystira.App.Application/Ports/Data/IGameSessionRepository.cs
  src/Mystira.App.Application/Ports/Data/IMediaAssetRepository.cs
  src/Mystira.App.Application/Ports/Data/IPlayerScenarioScoreRepository.cs
  src/Mystira.App.Application/Ports/Data/IScenarioRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserProfileRepository.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Application, Infrastructure Data

fix: Add IRepositoryBase<T> to domain repository interfaces for specification support
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  src/Mystira.App.Application/CQRS/UserBadges/Commands/AwardBadgeCommandHandler.cs
  src/Mystira.App.Application/Ports/Data/IAccountRepository.cs
  src/Mystira.App.Application/Ports/Data/IAxisAchievementRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeConfigurationRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeImageRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/ICharacterMapRepository.cs
  src/Mystira.App.Application/Ports/Data/IContentBundleRepository.cs
  src/Mystira.App.Application/Ports/Data/IGameSessionRepository.cs
  src/Mystira.App.Application/Ports/Data/IMediaAssetRepository.cs
  src/Mystira.App.Application/Ports/Data/IPlayerScenarioScoreRepository.cs
  src/Mystira.App.Application/Ports/Data/IScenarioRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserProfileRepository.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
  src/Mystira.App.Infrastructure.Data/Repositories/BadgeConfigurationRepository.cs
Due: unittests, API, Application, Infrastructure Data

fix: Remove duplicate IRepositoryBase<T> from domain interfaces
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Ports/Data/IAccountRepository.cs
  src/Mystira.App.Application/Ports/Data/IAxisAchievementRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeConfigurationRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeImageRepository.cs
  src/Mystira.App.Application/Ports/Data/IBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/ICharacterMapRepository.cs
  src/Mystira.App.Application/Ports/Data/IContentBundleRepository.cs
  src/Mystira.App.Application/Ports/Data/IGameSessionRepository.cs
  src/Mystira.App.Application/Ports/Data/IMediaAssetRepository.cs
  src/Mystira.App.Application/Ports/Data/IPlayerScenarioScoreRepository.cs
  src/Mystira.App.Application/Ports/Data/IScenarioRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserBadgeRepository.cs
  src/Mystira.App.Application/Ports/Data/IUserProfileRepository.cs
Due: unittests, API, Application

fix: Update CQRS handlers to use domain repository methods instead of ListAsync
  src/Mystira.App.Application/CQRS/ContentBundles/Queries/GetAllContentBundlesQueryHandler.cs
  src/Mystira.App.Application/CQRS/ContentBundles/Queries/GetContentBundlesByAgeGroupQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetInProgressSessionsQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByAccountQueryHandler.cs
  src/Mystira.App.Application/CQRS/GameSessions/Queries/GetSessionsByProfileQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetPaginatedScenariosQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenariosByAgeGroupQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserBadges/Queries/GetUserBadgesQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserProfiles/Queries/GetProfilesByAccountQueryHandler.cs
  src/Mystira.App.Application/UseCases/GameSessions/CheckAchievementsUseCase.cs
Due: unittests, Application

fix: Change UpdateAsync return type from Task<int> to Task
  src/Mystira.App.Infrastructure.Data/Repositories/Repository.cs
Due: unittests, Infrastructure Data

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  Admin API: any of: src/Mystira.App.Admin.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
  Contracts: any of: src/Mystira.Contracts.App/**
  Infrastructure Data: any of: src/Mystira.App.Infrastructure.Data/**
  Infrastructure Azure: any of: src/Mystira.App.Infrastructure.Azure/**
  Infrastructure Discord: any of: src/Mystira.App.Infrastructure.Discord/**
  Infrastructure StoryProtocol: any of: src/Mystira.App.Infrastructure.StoryProtocol/**
  Shared: any of: src/Mystira.App.Shared/**
