Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, Admin API, PWA, Domain, Application, Contracts, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol, Shared

Update tests/Mystira.App.Application.Tests/Domain/ScenarioGraphValidatorTests.cs
  tests/Mystira.App.Application.Tests/Domain/ScenarioGraphValidatorTests.cs
Due: none

fix(tests): Correct property names in test files to match domain models
  tests/Mystira.App.Api.Tests/Controllers/BadgesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/UserProfilesControllerTests.cs
  tests/Mystira.App.Application.Tests/Domain/JsonConverterTests.cs
  tests/Mystira.App.Application.Tests/Domain/ScenarioGraphValidatorTests.cs
Due: none

fix(tests): Resolve remaining compilation errors in test files
  tests/Mystira.App.Api.Tests/Controllers/BadgesControllerTests.cs
  tests/Mystira.App.Api.Tests/Controllers/ScenariosControllerTests.cs
Due: none

refactor: Use CompassAxisScoreResult from Contracts package
  src/Mystira.App.Api/Controllers/BadgesController.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQuery.cs
  src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  tests/Mystira.App.Api.Tests/Controllers/BadgesControllerTests.cs
Due: unittests, API, Application

chore: Pin Mystira.Contracts to 0.4.0-alpha* to bust NuGet cache
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

chore: Revert Mystira.Contracts to 0.4.*-* wildcard
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

chore: Update Mystira.Contracts to 0.4.1-alpha* for PercentileScores support
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Shared

chore: Remove migrated/unused projects
  Mystira.App.sln
  src/Discord.ExampleBot/Discord.ExampleBot.csproj
  src/Discord.ExampleBot/Program.cs
  src/Discord.ExampleBot/appsettings.json
  src/Discord.ExampleBot/readme.md
  tests/Mystira.App.Admin.Api.Tests/Controllers/BundlesAdminControllerTests.cs
Due: unittests

refactor: Move app-specific models to Api project
  src/Mystira.App.Api/Models/ApiVersionModels.cs
  src/Mystira.App.Api/Models/UserProfileRequests.cs
Due: unittests, API

refactor: Eliminate Mystira.App.Shared - use workspace packages
  Mystira.App.sln
  src/Mystira.App.Api/Controllers/ApiInfoController.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/UseCases/Media/UploadMediaUseCase.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
  src/Mystira.App.Shared/Configuration/KeyVaultConfigurationExtensions.cs
  src/Mystira.App.Shared/Errors/TroubleshootingHelper.cs
  src/Mystira.App.Shared/Logging/PiiRedactor.cs
  src/Mystira.App.Shared/Media/MimeTypeRegistry.cs
  src/Mystira.App.Shared/Middleware/CorrelationIdMiddleware.cs
  src/Mystira.App.Shared/Middleware/RequestLoggingMiddleware.cs
  src/Mystira.App.Shared/Middleware/SecurityHeadersMiddleware.cs
  src/Mystira.App.Shared/Models/ApiVersionModels.cs
  src/Mystira.App.Shared/Models/UserProfileRequests.cs
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  src/Mystira.App.Shared/README.md
  src/Mystira.App.Shared/Services/IJwtService.cs
  src/Mystira.App.Shared/Services/IUserProfileService.cs
  src/Mystira.App.Shared/Services/JwtService.cs
  src/Mystira.App.Shared/Services/UserProfileService.cs
  src/Mystira.App.Shared/Telemetry/ActivityListenerHostedService.cs
  src/Mystira.App.Shared/Telemetry/CloudRoleNameInitializer.cs
  src/Mystira.App.Shared/Telemetry/CustomMetrics.cs
  src/Mystira.App.Shared/Telemetry/DistributedTracingExtensions.cs
  src/Mystira.App.Shared/Telemetry/SecurityMetrics.cs
  src/Mystira.App.Shared/Telemetry/UserJourneyAnalytics.cs
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
  tests/Mystira.App.Application.Tests/Shared/MimeTypeRegistryTests.cs
  tests/Mystira.App.Application.Tests/Telemetry/DistributedTracingExtensionsTests.cs
Due: unittests, API, Application, Infrastructure Data, Shared

fix: Remove ICustomMetrics dependency from PolyglotRepository
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, Infrastructure Data

feat: Restore ICustomMetrics from Mystira.Shared.Telemetry
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
Due: unittests, Infrastructure Data

chore: Update Mystira.Shared/Contracts to 0.4.2-alpha*
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Infrastructure Data

fix: Update adapter namespaces and remove duplicate types
  src/Mystira.App.Api/Adapters/HealthCheckPortAdapter.cs
  src/Mystira.App.Api/Adapters/JwtServiceAdapter.cs
  src/Mystira.App.Api/Models/UserProfileRequests.cs
Due: unittests, API

fix: Implement Name and Tags properties on HealthCheckPortAdapter
  src/Mystira.App.Api/Adapters/HealthCheckPortAdapter.cs
Due: unittests, API

fix: Update adapters for 0.4.2 workspace package interfaces
  src/Mystira.App.Api/Adapters/HealthCheckPortAdapter.cs
  src/Mystira.App.Api/Adapters/JwtServiceAdapter.cs
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/CQRS/Health/Queries/GetHealthCheckQueryHandler.cs
Due: unittests, API, Application

fix: Resolve build error and null reference warnings
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Behaviors/QueryCachingBehavior.cs
  src/Mystira.App.Application/CQRS/Scenarios/Commands/CreateScenarioCommandHandler.cs
  src/Mystira.App.Application/UseCases/Accounts/CreateAccountUseCase.cs
  src/Mystira.App.Application/UseCases/CharacterMaps/CreateCharacterMapUseCase.cs
  src/Mystira.App.Application/UseCases/Contributors/SetBundleContributorsUseCase.cs
  src/Mystira.App.Application/UseCases/Contributors/SetScenarioContributorsUseCase.cs
  src/Mystira.App.Application/UseCases/GameSessions/CreateGameSessionUseCase.cs
  src/Mystira.App.Application/UseCases/Media/UploadMediaUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/CreateScenarioUseCase.cs
  src/Mystira.App.Application/UseCases/Scenarios/UpdateScenarioUseCase.cs
  src/Mystira.App.PWA/Services/AchievementsMapper.cs
Due: unittests, API, PWA, Application

fix: Remove obsolete JwtServiceTests and fix duplicate using
  tests/Mystira.App.Api.Tests/HealthChecks/ChainServiceHealthCheckTests.cs
  tests/Mystira.App.Api.Tests/Services/JwtServiceTests.cs
Due: none

fix: Correct test failures in ScenariosControllerTests and MimeTypeRegistryTests
  tests/Mystira.App.Api.Tests/Controllers/ScenariosControllerTests.cs
  tests/Mystira.App.Application.Tests/Shared/MimeTypeRegistryTests.cs
Due: none

refactor: Remove old sign-in code and migrate from Auth0 to Entra External ID
  src/Mystira.App.Api/Adapters/JwtServiceAdapter.cs
  src/Mystira.App.Api/Controllers/AccountsController.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/Services/IJwtService.cs
  src/Mystira.App.Api/Services/JwtService.cs
  src/Mystira.App.Application/CQRS/Accounts/Commands/CreateAccountCommand.cs
  src/Mystira.App.Application/CQRS/Accounts/Commands/CreateAccountCommandHandler.cs
  src/Mystira.App.Application/Ports/Auth/IJwtService.cs
  src/Mystira.App.Application/Ports/Data/IAccountRepository.cs
  src/Mystira.App.Application/Specifications/AccountSpecifications.cs
  src/Mystira.App.Application/UseCases/Accounts/CreateAccountUseCase.cs
  src/Mystira.App.Application/Validators/CreateAccountCommandValidator.cs
  src/Mystira.App.Domain/Models/Account.cs
  src/Mystira.App.Infrastructure.Data/Repositories/AccountRepository.cs
  src/Mystira.App.PWA/Models/Account.cs
  tests/Mystira.App.Api.Tests/Controllers/AccountsControllerTests.cs
  tests/Mystira.App.Application.Tests/Specifications/AccountSpecificationsTests.cs
Due: unittests, API, PWA, Domain, Application, Infrastructure Data

feat: Add payment services with provider abstraction (PeachPayments)
  Mystira.App.sln
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Application/Ports/Payments/IPaymentService.cs
  src/Mystira.App.Infrastructure.Payments/Configuration/PaymentOptions.cs
  src/Mystira.App.Infrastructure.Payments/HealthChecks/PaymentServiceHealthCheck.cs
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.Infrastructure.Payments/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Payments/Services/Mock/MockPaymentService.cs
  src/Mystira.App.Infrastructure.Payments/Services/PeachPayments/PeachPaymentsService.cs
Due: unittests, API, Application

chore: Update to Mystira.Shared 0.4.3-alpha and use shared types
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Behaviors/QueryCachingBehavior.cs
  src/Mystira.App.Application/GlobalUsings.cs
  src/Mystira.App.Application/Interfaces/ICacheableQuery.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Payments/IPaymentService.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.Infrastructure.Payments/Services/Mock/MockPaymentService.cs
  src/Mystira.App.Infrastructure.Payments/Services/PeachPayments/PeachPaymentsService.cs
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: unittests, API, PWA, Application, Infrastructure Data

fix: Update Infrastructure.Payments package versions to 9.0.11
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
Due: unittests

fix: Revert caching migration to fix build errors
  src/Mystira.App.Application/Behaviors/QueryCachingBehavior.cs
  src/Mystira.App.Application/GlobalUsings.cs
  src/Mystira.App.Application/Interfaces/ICacheableQuery.cs
Due: unittests, Application

fix: Map Contracts Auth0UserId to domain ExternalUserId in CreateAccountUseCase
  src/Mystira.App.Application/UseCases/Accounts/CreateAccountUseCase.cs
Due: unittests, Application

docs: Update documentation to use ExternalUserId instead of Auth0UserId
  docs/domain/models/account.md
  docs/features/passwordless-signup.md
Due: none

docs: Complete migration from Auth0 to Entra External ID references
  docs/analysis/app-components-extraction.md
  docs/analysis/repository-role-analysis.md
  docs/architecture/cqrs-migration-guide.md
  docs/features/passwordless-signup.md
  docs/operations/runbooks/incident-auth-outage.md
  docs/operations/slo-definitions.md
  docs/planning/implementation-roadmap.md
  docs/usecases/accounts/README.md
Due: none

fix: Remove unused Ports.Auth using statement from Infrastructure.Azure
  src/Mystira.App.Infrastructure.Azure/ServiceCollectionExtensions.cs
Due: unittests, Infrastructure Azure

fix: Add missing Api.Services using statement to Program.cs
  src/Mystira.App.Api/Program.cs
Due: unittests, API

fix: Update MimeTypeRegistry test to match Mystira.Shared 0.4.3 behavior
  tests/Mystira.App.Application.Tests/Shared/MimeTypeRegistryTests.cs
Due: none

chore: remove migrated projects (Admin.Api, CosmosConsole, Contracts, Shared)
  scripts/start-admin-api.ps1
  scripts/start-all.ps1
Due: none

chore: Update to Mystira.Shared 0.4.3-alpha and use shared types (#590)
  docs/analysis/app-components-extraction.md
  docs/analysis/repository-role-analysis.md
  docs/architecture/cqrs-migration-guide.md
  docs/domain/models/account.md
  docs/features/passwordless-signup.md
  docs/operations/runbooks/incident-auth-outage.md
  docs/operations/slo-definitions.md
  docs/planning/implementation-roadmap.md
  docs/usecases/accounts/README.md
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Application/Ports/Payments/IPaymentService.cs
  src/Mystira.App.Application/UseCases/Accounts/CreateAccountUseCase.cs
  src/Mystira.App.Infrastructure.Azure/ServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.Infrastructure.Payments/Services/Mock/MockPaymentService.cs
  src/Mystira.App.Infrastructure.Payments/Services/PeachPayments/PeachPaymentsService.cs
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Application.Tests/Shared/MimeTypeRegistryTests.cs
Due: unittests, API, PWA, Application, Infrastructure Data, Infrastructure Azure

chore: add migration cleanup changes
  .deploy-config.ps1
  devhub.bat
  devhub.sh
  docs/infrastructure/README.md
  moodboard.html
  nupkg-test/Mystira.App.Domain.1.0.0.nupkg
  nupkg-test/Mystira.App.Domain.1.0.0.snupkg
  nupkg/Mystira.App.Domain.1.0.0.nupkg
  nupkg/Mystira.App.Domain.1.0.0.snupkg
  protos-to-migrate/README.md
  protos-to-migrate/mystira/chain/v1/chain_service.proto
  protos-to-migrate/mystira/chain/v1/common.proto
  protos-to-migrate/mystira/chain/v1/ip_assets.proto
  protos-to-migrate/mystira/chain/v1/royalties.proto
Due: none

chore: delete items to be moved to workspace repo
  deploy.log
  docs/infrastructure/README.md
  examples/test_scenario.yaml
  protos-to-migrate/README.md
  protos-to-migrate/mystira/chain/v1/chain_service.proto
  protos-to-migrate/mystira/chain/v1/common.proto
  protos-to-migrate/mystira/chain/v1/ip_assets.proto
  protos-to-migrate/mystira/chain/v1/royalties.proto
  scripts/create-github-repos.sh
  scripts/setup-workspace.ps1
  scripts/setup-workspace.sh
Due: none

fix: Downgrade .NET 10 packages to .NET 9 compatible versions
  global.json
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Domain/Mystira.App.Domain.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
Due: unittests, API, PWA, Domain, Application, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol

Claude/fix dotnet10 packages go8oy (#598)
  .deploy-config.ps1
  deploy.log
  devhub.bat
  devhub.sh
  examples/test_scenario.yaml
  global.json
  infrastructure/README.md
  moodboard.html
  nupkg-test/Mystira.App.Domain.1.0.0.nupkg
  nupkg-test/Mystira.App.Domain.1.0.0.snupkg
  nupkg/Mystira.App.Domain.1.0.0.nupkg
  nupkg/Mystira.App.Domain.1.0.0.snupkg
  protos/README.md
  protos/mystira/chain/v1/chain_service.proto
  protos/mystira/chain/v1/common.proto
  protos/mystira/chain/v1/ip_assets.proto
  protos/mystira/chain/v1/royalties.proto
  scripts/create-github-repos.sh
  scripts/setup-workspace.ps1
  scripts/setup-workspace.sh
  scripts/start-admin-api.ps1
  scripts/start-all.ps1
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.Domain/Mystira.App.Domain.csproj
  src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  src/Mystira.App.Infrastructure.StoryProtocol/Mystira.App.Infrastructure.StoryProtocol.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
Due: unittests, API, PWA, Domain, Application, Infrastructure Data, Infrastructure Azure, Infrastructure Discord, Infrastructure StoryProtocol

chore(deps): fix NU1603 NuGet dependency warnings
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
Due: unittests, API, PWA

fix: resolve build errors and mapper warnings
  protos/mystira/chain/v1/chain_service.proto
  src/Mystira.App.Application/Mappers/ScenarioMapper.cs
  tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
Due: unittests, Application

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  Admin API: any of: src/Mystira.App.Admin.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
  Contracts: any of: src/Mystira.Contracts.App/**
  Infrastructure Data: any of: src/Mystira.App.Infrastructure.Data/**
  Infrastructure Azure: any of: src/Mystira.App.Infrastructure.Azure/**
  Infrastructure Discord: any of: src/Mystira.App.Infrastructure.Discord/**
  Infrastructure StoryProtocol: any of: src/Mystira.App.Infrastructure.StoryProtocol/**
  Shared: any of: src/Mystira.App.Shared/**
