Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "header, diff, flags, components, tree, betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - src/Mystira.App.Api/**
    - component_id: pwa
      name: PWA
      paths:
        - src/Mystira.App.PWA/**
    - component_id: domain
      name: Domain
      paths:
        - src/Mystira.App.Domain/**
    - component_id: application
      name: Application
      paths:
        - src/Mystira.App.Application/**

refactor: Refactor EntraExternalIdAuthService with SOLID/DRY principles and comprehensive unit tests
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  tests/Mystira.App.PWA.Tests/Services/EntraExternalIdAuthServiceTests.cs
Due: unittests, PWA

Integrate `NavigationManager` into `EntraExternalIdAuthService` for redirect handling. Removed unnecessary `NavigateToUrlAsync` method. Improved error logging and replaced redundant whitespace.
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

fix: Remove /v2.0 suffix from Entra External ID authority configuration
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
Due: unittests, PWA

fix: Correct OAuth endpoint URL construction for Entra External ID
  docs/authentication/README.md
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

feat: Add domain_hint parameter to skip Entra signin page and redirect directly to Google
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

Add `id_token_hint` to logout URL in `EntraExternalIdAuthService` for improved session termination and update tests accordingly.
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  tests/Mystira.App.PWA.Tests/Services/EntraExternalIdAuthServiceTests.cs
Due: unittests, PWA

docs: Add comprehensive Entra External ID authentication documentation
  docs/authentication/ENTRA_EXTERNAL_ID_SETUP_GUIDE.md
  docs/authentication/README.md
  docs/authentication/TROUBLESHOOTING_FAQ.md
Due: none

fix: Add nonce validation and improve exception handling
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

Refactor query caching to support prefix-based cache key tracking and invalidation. Updated tests and behaviors to use non-static methods. Enhanced test fixtures to ensure proper cache clearance.
  src/Mystira.App.Application/Behaviors/QueryCachingBehavior.cs
  src/Mystira.App.Application/Services/QueryCacheInvalidationService.cs
  tests/Mystira.App.Application.Tests/CQRS/CqrsIntegrationTestBase.cs
  tests/Mystira.App.PWA.Tests/Services/EntraExternalIdAuthServiceTests.cs
Due: unittests, Application

fix: Address code review feedback on security and identity
  src/Mystira.App.PWA/Pages/Authentication/LoginCallback.razor
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

fix: Address code review issues - Base64URL, ARIA, and exception handling
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

feat: Add dynamic redirect URI detection for multi-environment support
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
  src/Mystira.App.PWA/wwwroot/appsettings.Production.json
  src/Mystira.App.PWA/wwwroot/appsettings.Staging.json
Due: unittests, PWA

fix: Separate spinner states and implement silent logout
  src/Mystira.App.PWA/Pages/SignIn.razor
  src/Mystira.App.PWA/Pages/SignUp.razor
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

Enhanced PWA loading experience with static loading screen, improved JS initialization, and staged progress tracking. Updated styles, scripts, and Blazor components for seamless transitions.
  src/Mystira.App.PWA/Components/LoadingExperience.razor
  src/Mystira.App.PWA/Components/LoadingExperience.razor.css
  src/Mystira.App.PWA/wwwroot/index.html
  src/Mystira.App.PWA/wwwroot/js/loadingProgress.js
Due: unittests, PWA

fix: Extract login_hint claim from ID token for silent logout
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

feat: Implement local-only logout for instant logout without Entra UI
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

feat: Add prompt=login parameter to suppress KMSI prompt
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

Implement `IDisposable` in `LoadingExperience.razor` for proper cleanup of `DotNetObjectReference`.
  src/Mystira.App.PWA/Components/LoadingExperience.razor
Due: unittests, PWA

fix: Address 5 critical bugs from PR analysis
  src/Mystira.App.Application/Specifications/BaseEntitySpecification.cs
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.Infrastructure.Data/Caching/CachingServiceCollectionExtensions.cs
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
  src/Mystira.App.Infrastructure.StoryProtocol/Services/GrpcChainServiceAdapter.cs
Due: unittests, Application

test: Add unit tests for new polyglot and caching components
  tests/Mystira.App.Api.Tests/HealthChecks/ChainServiceHealthCheckTests.cs
  tests/Mystira.App.Application.Tests/Repositories/CachedRepositoryTests.cs
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
  tests/Mystira.App.Application.Tests/Specifications/ScenarioSpecificationsTests.cs
  tests/Mystira.App.Application.Tests/Telemetry/DistributedTracingExtensionsTests.cs
Due: none

feat: Wire up Redis caching and distributed tracing in Program.cs
  docs/planning/implementation-roadmap.md
  src/Mystira.App.Api/Program.cs
Due: unittests, API

feat: Add circuit breaker and Slack/Teams notifications
  .github/workflows/mystira-app-api-rollback.yml
  src/Mystira.App.Infrastructure.Data/Polyglot/PolyglotRepository.cs
Due: unittests

feat(auth): Apply auth UX improvements from feature branch
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
Due: unittests, PWA

fix: Resolve build errors and warnings across the codebase
  src/Mystira.App.Application/Parsers/BranchParser.cs
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
  src/Mystira.App.Infrastructure.Data/Caching/CachedRepository.cs
  src/Mystira.App.PWA/Pages/CharacterAssignmentPage.razor
  src/Mystira.App.PWA/Pages/GameSessionPage.razor
  src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  src/Mystira.App.PWA/Services/GameSessionService.cs
  tests/Mystira.App.Api.Tests/HealthChecks/ChainServiceHealthCheckTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/CreateAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/DeleteAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/GetAgeGroupsQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/AgeGroups/UpdateAgeGroupCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/CreateArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/DeleteArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/GetArchetypesQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Archetypes/UpdateArchetypeCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/CreateCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/DeleteCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/CompassAxes/UpdateCompassAxisCommandHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/GetScenarioQueryHandlerTests.cs
  tests/Mystira.App.Application.Tests/CQRS/Scenarios/ScenarioQueryTests.cs
  tests/Mystira.App.Application.Tests/Models/RandomNameGeneratorTests.cs
  tests/Mystira.App.Application.Tests/Specifications/ScenarioSpecificationsTests.cs
  tests/Mystira.App.Application.Tests/Telemetry/DistributedTracingExtensionsTests.cs
  tests/Mystira.App.PWA.Tests/Pages/AchievementsPageTests.cs
  tests/Mystira.App.PWA.Tests/Services/EntraExternalIdAuthServiceTests.cs
  tests/Mystira.App.PWA.Tests/Services/Music/AudioCacheServiceTests.cs
Due: unittests, PWA, Application

fix: Revert ListMediaUseCase to sync operations
  src/Mystira.App.Application/UseCases/Media/ListMediaUseCase.cs
Due: unittests, Application

fix: Fix test isolation and update tests for current implementation
  tests/Mystira.App.Application.Tests/Repositories/PolyglotRepositoryTests.cs
  tests/Mystira.App.PWA.Tests/Services/EntraExternalIdAuthServiceTests.cs
Due: none

feat: Use repository_dispatch to trigger workspace deployments
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-pwa-cicd-dev.yml
  .github/workflows/trigger-workspace-deploy.yml
Due: none

chore: Remove staging/prod workflows from submodule
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-cicd-staging.yml
  .github/workflows/mystira-app-pwa-cicd-prod.yml
  .github/workflows/mystira-app-pwa-cicd-staging.yml
  .github/workflows/mystira-app-pwa-cicd-staging.yml.disabled
  .github/workflows/publish-shared-packages.yml
  .github/workflows/staging-automated-setup.yml
Due: none

fix: Remove duplicate EndProject line from solution file
  Mystira.App.sln
Due: none

feat: Add Mystira.Shared package and configure Wolverine
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Application/Mystira.App.Application.csproj
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
Due: unittests, API, PWA, Application

feat: Add resilience and caching configuration for Mystira.Shared
  src/Mystira.App.Api/appsettings.json
Due: unittests, API

feat: Migrate to Wolverine handlers and Polly v8 resilience
  src/Mystira.App.Application/CQRS/Accounts/Queries/GetAccountQueryHandler.cs
  src/Mystira.App.Application/CQRS/Scenarios/Queries/GetScenarioQueryHandler.cs
  src/Mystira.App.Application/CQRS/UserProfiles/Queries/GetUserProfileQueryHandler.cs
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.PWA/Program.cs
Due: unittests, PWA, Application

fix: Correct namespace references from Mystira.Contracts.App to Mystira.App.Contracts
  src/Mystira.App.PWA/Services/AchievementsMapper.cs
  src/Mystira.App.PWA/Services/AchievementsService.cs
  src/Mystira.App.PWA/Services/BadgesApiClient.cs
  src/Mystira.App.PWA/Services/IBadgesApiClient.cs
  src/Mystira.App.Shared/Adapters/HealthCheckPortAdapter.cs
Due: unittests, PWA

fix: Use nuget.config with NUGET_AUTH_TOKEN for GitHub Packages auth
  .github/workflows/ci-tests-codecov.yml
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-pwa-cicd-dev.yml
  .github/workflows/security-scanning.yml
  NuGet.config.template
  nuget.config
Due: none
