Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

Fix DevHub naming convention to match new pattern
  tools/Mystira.DevHub/src/components/infrastructure/InfrastructurePanel.tsx
  tools/Mystira.DevHub/src/components/infrastructure/ResourceGroupConfig.tsx
  tools/Mystira.DevHub/src/components/infrastructure/components/SmartDeploymentPanel.tsx
  tools/Mystira.DevHub/src/components/infrastructure/components/tabs/InfrastructureActionsTab.tsx
  tools/Mystira.DevHub/src/components/infrastructure/hooks/useResourceGroupConfig.ts
  tools/Mystira.DevHub/src/components/project-deployment/hooks/useDeploymentStatus.ts
  tools/Mystira.DevHub/src/components/what-if/WhatIfViewer.tsx
  tools/Mystira.DevHub/src/types/index.ts
Due: none

Update documentation with new naming convention
  DEPLOY-NOW.md
  docs/ops/CHAT_BOT_INFRASTRUCTURE.md
  docs/setup/GITHUB_SECRETS_VARIABLES.md
  tools/Mystira.DevHub/INFRASTRUCTURE_STATUS_REVIEW.md
Due: none

Add regional fallback support and complete infrastructure pipeline
  infrastructure/README.md
  infrastructure/main.bicep
  infrastructure/modules/key-vault.bicep
  infrastructure/modules/static-web-app.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Add WhatsApp secrets to Key Vault and create secrets setup guide
  docs/SECRETS_SETUP_GUIDE.md
  infrastructure/main.bicep
  infrastructure/modules/key-vault.bicep
Due: none

Fix PR issues: region updates, Key Vault integration, and documentation
  .github/workflows/staging-automated-setup.yml
  docs/devops/CI_CD_ARCHITECTURE.md
  docs/devops/NAMING_CONVENTIONS.md
  docs/devops/RELEASE_PROCESS.md
  infrastructure/README.md
  infrastructure/SECRETS_SETUP_GUIDE.md
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
Due: none

Update deployment workflows and add Key Vault admin support
  .github/workflows/mystira-app-admin-api-cicd-dev.yml
  .github/workflows/mystira-app-admin-api-cicd-prod.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-cicd-staging.yml
  infrastructure/README.md
  infrastructure/main.bicep
Due: none

Fix Bicep func syntax error in app-service module
  infrastructure/modules/app-service.bicep
Due: none

Enable Static Web App deployment in all environments
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Fix Key Vault name length for staging/prod environments
  infrastructure/main.bicep
Due: none

Add missing wasm-tools workload to staging Admin API workflow
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
Due: none

Disable SWA in Bicep - use existing SWA workflows instead
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Enable SWA via Bicep and delete old SWA workflows
  .github/workflows/azure-static-web-apps-blue-water-0eab7991e.yml
  .github/workflows/azure-static-web-apps-dev-san-swa-mystira-app.yml
  .github/workflows/azure-static-web-apps-staging.yml
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Add PWA CI/CD workflows for all environments
  .github/workflows/mystira-app-pwa-cicd-dev.yml
  .github/workflows/mystira-app-pwa-cicd-prod.yml
  .github/workflows/mystira-app-pwa-cicd-staging.yml
Due: none

fixed discord startup issue
  src/Mystira.App.Api/Program.cs
Due: unittests, API

added file
  src/Mystira.App.Infrastructure.Discord/Services/NoOpChatBotService.cs
Due: unittests

Fix build output and deployment paths in CI/CD
  .github/workflows/mystira-app-pwa-cicd-prod.yml
Due: none

Refactor GitHub Actions workflow for production
  .github/workflows/mystira-app-pwa-cicd-prod.yml
Due: none

Enhance CI/CD workflow for Blazor WASM app
  .github/workflows/mystira-app-pwa-cicd-prod.yml
Due: none

Update deployment paths in CI/CD workflow
  .github/workflows/mystira-app-pwa-cicd-prod.yml
Due: none

Add custom domain support and PWA domain persistence
  .github/workflows/custom-domains-setup.yml
  infrastructure/main.bicep
  infrastructure/modules/custom-domains.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiBaseAddressHandler.cs
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/IApiConfigurationService.cs
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
  src/Mystira.App.PWA/wwwroot/appsettings.Production.json
  src/Mystira.App.PWA/wwwroot/appsettings.Staging.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

Add automated DNS custom domain configuration for SWA
  infrastructure/main.bicep
  infrastructure/modules/dns-zone.bicep
  infrastructure/modules/static-web-app.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Add automated DNS custom domains for APIs and SWA
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
  infrastructure/modules/dns-zone.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
Due: none

Add DNS custom domains documentation to infrastructure README
  infrastructure/README.md
Due: none

Fix PWA domain persistence - wire up ApiBaseAddressHandler
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiBaseAddressHandler.cs
Due: unittests, PWA

Fix critical bugs in PWA domain persistence implementation
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiBaseAddressHandler.cs
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/ApiEndpointCache.cs
  src/Mystira.App.PWA/Services/IApiConfigurationService.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
  src/Mystira.App.PWA/Shared/EnvironmentIndicator.razor
  src/Mystira.App.PWA/Shared/MainLayout.razor
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
  src/Mystira.App.PWA/wwwroot/appsettings.Production.json
  src/Mystira.App.PWA/wwwroot/appsettings.Staging.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

Add remaining missed opportunities: resilience, telemetry, validation, SSL
  .github/workflows/mystira-app-pwa-cicd-prod.yml
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
  src/Mystira.App.PWA/Mystira.App.PWA.csproj
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/HttpResiliencePolicies.cs
  src/Mystira.App.PWA/Services/TelemetryService.cs
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

Add remaining missed opportunities: resilience, telemetry, validation, SSL
  .github/workflows/mystira-app-pwa-cicd-prod.yml
  infrastructure/modules/app-service.bicep
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/ApiEndpointCache.cs
  src/Mystira.App.PWA/Services/HttpResiliencePolicies.cs
  src/Mystira.App.PWA/Services/IApiConfigurationService.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
Due: unittests, PWA

Add email allowlist for endpoint switcher access control
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/IApiConfigurationService.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
  src/Mystira.App.PWA/wwwroot/appsettings.Production.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
Due: unittests, PWA

Fix remaining issues: race condition, parallel health checks, cache invalidation
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/IApiConfigurationService.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
  src/Mystira.App.PWA/wwwroot/appsettings.Development.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
Due: unittests, PWA

Fix thread safety and admin path detection issues
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/ApiEndpointCache.cs
Due: unittests, PWA

Add final improvements: CI validation, health expiration, logging
  .github/workflows/mystira-app-pwa-cicd-dev.yml
  .github/workflows/mystira-app-pwa-cicd-staging.yml
  src/Mystira.App.PWA/Services/ApiBaseAddressHandler.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
  src/Mystira.App.PWA/wwwroot/appsettings.Production.json
  src/Mystira.App.PWA/wwwroot/appsettings.json
Due: unittests, PWA

Fix critical bugs and add missed improvements
  src/Mystira.App.PWA/Program.cs
  src/Mystira.App.PWA/Services/ApiBaseAddressHandler.cs
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/IApiConfigurationService.cs
  src/Mystira.App.PWA/Services/TelemetryService.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
  src/Mystira.App.PWA/wwwroot/appsettings.Production.json
Due: unittests, PWA

Address final low-priority issues
  src/Mystira.App.PWA/Services/ApiConfigurationService.cs
  src/Mystira.App.PWA/Services/ApiEndpointCache.cs
  src/Mystira.App.PWA/Services/TelemetryService.cs
  src/Mystira.App.PWA/Shared/EndpointSwitcher.razor
  src/Mystira.App.PWA/wwwroot/index.html
Due: unittests, PWA

Fix Bicep errors and warnings
  infrastructure/main.bicep
  infrastructure/modules/app-service.bicep
  infrastructure/modules/azure-bot.bicep
  infrastructure/modules/cosmos-db.bicep
  infrastructure/modules/dns-zone.bicep
Due: none

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
