Repository phoenixvc/Mystira.App: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, PWA, Domain, Application

Add enhanced active/focus effect on email input
  src/Mystira.App.PWA/Pages/SignIn.razor.css
Due: unittests, PWA

Upgrade dev App Service to B1 tier to enable custom domains
  infrastructure/params.dev.json
Due: none

Add environment migration feature to DevHub
  tools/Mystira.DevHub/src-tauri/src/cosmos.rs
  tools/Mystira.DevHub/src-tauri/src/main.rs
  tools/Mystira.DevHub/src/components/migration/EnvironmentSelector.tsx
  tools/Mystira.DevHub/src/components/migration/MigrationConfigForm.tsx
  tools/Mystira.DevHub/src/components/migration/MigrationManager.tsx
  tools/Mystira.DevHub/src/components/migration/types.ts
Due: none

Fix managed certificate deployment sequencing
  infrastructure/modules/app-service.bicep
Due: none

Update environment presets with actual old Cosmos DB names
  tools/Mystira.DevHub/src/components/migration/MigrationManager.tsx
  tools/Mystira.DevHub/src/components/migration/types.ts
Due: none

Ensure database and containers are created on migration
  tools/Mystira.DevHub.Services/Migration/MigrationService.cs
Due: none

Add support for migrating all Cosmos DB containers
  tools/Mystira.DevHub.CLI/Commands/MigrationCommands.cs
  tools/Mystira.DevHub.Services/Migration/IMigrationService.cs
  tools/Mystira.DevHub.Services/Migration/MigrationService.cs
  tools/Mystira.DevHub/src/components/migration/MigrationManager.tsx
  tools/Mystira.DevHub/src/components/migration/ResourceSelectionForm.tsx
  tools/Mystira.DevHub/src/components/migration/hooks/useMigration.ts
  tools/Mystira.DevHub/src/components/migration/types.ts
Due: none

Potential fix for pull request finding 'Generic catch clause'
  tools/Mystira.DevHub.Services/Migration/MigrationService.cs
Due: none

Fix migration bugs and improve DevHub migration feature
  src/Mystira.App.PWA/Pages/SignIn.razor.css
  tools/Mystira.DevHub.CLI/Commands/MigrationCommands.cs
  tools/Mystira.DevHub.CLI/Models/CommandRequest.cs
  tools/Mystira.DevHub.Services/Migration/IMigrationService.cs
  tools/Mystira.DevHub.Services/Migration/MigrationService.cs
  tools/Mystira.DevHub/src-tauri/src/cosmos.rs
  tools/Mystira.DevHub/src/components/migration/EnvironmentSelector.tsx
  tools/Mystira.DevHub/src/components/migration/MigrationConfigForm.tsx
  tools/Mystira.DevHub/src/components/migration/ResourceSelectionForm.tsx
  tools/Mystira.DevHub/src/components/migration/hooks/useMigration.ts
  tools/Mystira.DevHub/src/components/migration/types.ts
Due: unittests, PWA

Potential fix for pull request finding 'Poor error handling: catch of NullReferenceException'
  tools/Mystira.DevHub.Services/Migration/MigrationService.cs
Due: none

Potential fix for pull request finding 'Unused variable, import, function or class'
  tools/Mystira.DevHub/src/components/migration/hooks/useMigration.ts
Due: none

Potential fix for pull request finding 'Constant condition'
  src/Mystira.App.PWA/Components/ContentAttribution.razor
Due: unittests, PWA

Potential fix for pull request finding 'Generic catch clause'
  src/Mystira.App.Api/Controllers/RoyaltiesController.cs
Due: unittests, API

Potential fix for pull request finding 'Generic catch clause'
  src/Mystira.App.Api/Controllers/ScenariosController.cs
Due: unittests, API

Add ADR-0010: Story Protocol SDK integration strategy
  docs/architecture/adr/ADR-0010-story-protocol-sdk-integration-strategy.md
Due: none

Add ADR-0011 and update ADR-0010 for Python SDK
  docs/architecture/adr/ADR-0010-story-protocol-sdk-integration-strategy.md
  docs/architecture/adr/ADR-0011-unified-workspace-orchestration.md
Due: none

Update ADR-0011: Recommend Mystira.workspace naming
  docs/architecture/adr/ADR-0011-unified-workspace-orchestration.md
Due: none

Update ADR-0011: Add Mystira.StoryGenerator to workspace
  docs/architecture/adr/ADR-0011-unified-workspace-orchestration.md
Due: none

Standardize repo naming to Mystira.X convention
  docs/architecture/adr/ADR-0010-story-protocol-sdk-integration-strategy.md
  docs/architecture/adr/ADR-0011-unified-workspace-orchestration.md
Due: none

Fix ADR-0010 and ADR-0011 review issues
  docs/architecture/adr/ADR-0010-story-protocol-sdk-integration-strategy.md
  docs/architecture/adr/ADR-0011-unified-workspace-orchestration.md
Due: none

Add ADR-0012 and enhance ADR-0010/0011 with implementation details
  docs/architecture/adr/ADR-0010-story-protocol-sdk-integration-strategy.md
  docs/architecture/adr/ADR-0011-unified-workspace-orchestration.md
  docs/architecture/adr/ADR-0012-infrastructure-as-code.md
Due: none

Merge main/dev and enhance migration features
  tools/Mystira.DevHub.CLI/Commands/MigrationCommands.cs
  tools/Mystira.DevHub.CLI/Models/CommandRequest.cs
  tools/Mystira.DevHub.Services/Migration/IMigrationService.cs
  tools/Mystira.DevHub.Services/Migration/MigrationService.cs
  tools/Mystira.DevHub/src/components/migration/hooks/useMigration.ts
Due: none

Rewrite ADR-0012 to document existing infrastructure and add setup scripts
  docs/architecture/adr/ADR-0012-infrastructure-as-code.md
  docs/architecture/adr/MIGRATION-MYSTIRA-INFRA.md
  scripts/setup-workspace.ps1
  scripts/setup-workspace.sh
Due: none

Add script to create GitHub repos for workspace, chain, and infra
  scripts/create-github-repos.sh
Due: none

Refactor and consolidate documentation
  docs/ROADMAP.md
  docs/archive/ANALYSIS.md
  docs/archive/DISCORD_API_INTEGRATION.md
  docs/archive/DISCORD_FRONTEND_INTEGRATION.md
  docs/archive/DISCORD_IMPLEMENTATION_SUMMARY.md
  docs/archive/DISCORD_INTEGRATION.md
  docs/archive/DISCORD_VISUAL_SUMMARY.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/IMPROVEMENTS_ASSESSMENT.md
  docs/archive/MASTER_SUMMARY_TABLE.md
  docs/archive/POTENTIAL_ENHANCEMENTS_ROADMAP.md
  docs/archive/PRODUCTION_REVIEW_REPORT.md
  docs/archive/PR_ANALYSIS.md
  docs/archive/SUMMARY.md
  docs/archive/UX_IMPROVEMENTS.md
  docs/environment-strategy.md
  docs/integrations/discord.md
  docs/troubleshooting.md
  tools/Mystira.DevHub/archive/CHANGE_ANALYSIS.md
  tools/Mystira.DevHub/archive/CONSOLIDATION_PLAN.md
  tools/Mystira.DevHub/archive/CONSOLIDATION_SUMMARY.md
  tools/Mystira.DevHub/archive/DEPLOYMENT_ANALYSIS.md
  tools/Mystira.DevHub/archive/DRY_SOLID_ANALYSIS.md
  tools/Mystira.DevHub/archive/ENVIRONMENT_IMPROVEMENTS.md
  tools/Mystira.DevHub/archive/FINAL_REVIEW.md
  tools/Mystira.DevHub/archive/FIXES_AND_IMPROVEMENTS.md
  tools/Mystira.DevHub/archive/IMPLEMENTATION_COMPLETE.md
  tools/Mystira.DevHub/archive/IMPLEMENTATION_SUMMARY.md
  tools/Mystira.DevHub/archive/INFRASTRUCTURE_STATUS_REVIEW.md
  tools/Mystira.DevHub/archive/PR_DESCRIPTION.md
  tools/Mystira.DevHub/archive/REFACTORING.md
  tools/Mystira.DevHub/archive/STEP2_UI_RECOMMENDATION.md
  tools/Mystira.DevHub/archive/STRUCTURE_ANALYSIS.md
Due: none

Continue documentation refactoring and consolidation
  claude.md
  docs/archive/ARCHITECTURAL_REFACTORING_PLAN.md
  docs/archive/AUTOMATION_VS_MANUAL.md
  docs/archive/CORRECTED_ENVIRONMENT_STRATEGY.md
  docs/archive/DEPRECATED_SERVICES_ANALYSIS.md
  docs/archive/DEVHUB_IMPLEMENTATION_ROADMAP.md
  docs/archive/PR_ANALYSIS_CHAT_BOT_REFACTOR.md
  docs/archive/PR_ANALYSIS_V2_CHAT_BOT_REFACTOR.md
  docs/archive/PR_ANALYSIS_V3_CHAT_BOT_REFACTOR.md
  docs/archive/PR_ANALYSIS_V4_CHAT_BOT_FINAL.md
  docs/archive/REFACTORING_STATUS.md
  docs/archive/STAGING_MIGRATION_EXECUTION.md
  docs/archive/WARP.md
  docs/design-system.md
  docs/environment-strategy.md
  scripts/deploy/deploy-now.md
  tools/DEVHUB_QUICKSTART.md
  tools/Mystira.DevHub/architecture.md
Due: none

Delete one-time feedback doc (LOGO_AND_BACKGROUND_FEEDBACK.md)
  docs/features/LOGO_AND_BACKGROUND_FEEDBACK.md
Due: none

Remove redundant DiscordBotExample from examples/
  examples/DiscordBotExample/DiscordBotExample.csproj
  examples/DiscordBotExample/Program.cs
  examples/DiscordBotExample/README.md
  examples/DiscordBotExample/appsettings.json
Due: none

Add comprehensive application monitoring infrastructure
  .github/workflows/mystira-app-api-cicd-dev.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/templates/smoke-tests.yml
  docs/monitoring-implementation-plan.md
  infrastructure/main.bicep
  infrastructure/modules/action-group.bicep
  infrastructure/modules/availability-tests.bicep
  infrastructure/modules/budget.bicep
  infrastructure/modules/dashboard.bicep
  infrastructure/modules/metric-alerts.bicep
  infrastructure/modules/security-alerts.bicep
  infrastructure/params.dev.json
  infrastructure/params.prod.json
  infrastructure/params.staging.json
  src/Mystira.App.Admin.Api/Mystira.App.Admin.Api.csproj
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Admin.Api/appsettings.Production.json
  src/Mystira.App.Admin.Api/appsettings.Staging.json
  src/Mystira.App.Admin.Api/appsettings.json
  src/Mystira.App.Api/Mystira.App.Api.csproj
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.Production.json
  src/Mystira.App.Api/appsettings.Staging.json
  src/Mystira.App.Api/appsettings.json
  src/Mystira.App.Shared/Middleware/CorrelationIdMiddleware.cs
  src/Mystira.App.Shared/Middleware/RequestLoggingMiddleware.cs
  src/Mystira.App.Shared/Mystira.App.Shared.csproj
  src/Mystira.App.Shared/Telemetry/CloudRoleNameInitializer.cs
  src/Mystira.App.Shared/Telemetry/CustomMetrics.cs
  src/Mystira.App.Shared/Telemetry/SecurityMetrics.cs
Due: unittests, API

Fix bugs, security issues, and incomplete features in monitoring PR
  .github/workflows/mystira-app-admin-api-cicd-prod.yml
  infrastructure/main.bicep
  infrastructure/modules/availability-tests.bicep
  infrastructure/modules/cosmos-alerts.bicep
  infrastructure/modules/dashboard.bicep
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Api/appsettings.Production.json
  src/Mystira.App.Api/appsettings.Staging.json
  src/Mystira.App.Shared/Middleware/RequestLoggingMiddleware.cs
  src/Mystira.App.Shared/Telemetry/SecurityMetrics.cs
Due: unittests, API

Expand monitoring dashboard with infrastructure and business metrics
  infrastructure/main.bicep
  infrastructure/modules/dashboard.bicep
Due: none

Fix bugs, mistakes, and incomplete features identified in PR review
  .github/workflows/mystira-app-admin-api-cicd-dev.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
  infrastructure/main.bicep
  infrastructure/modules/availability-tests.bicep
  infrastructure/modules/cosmos-alerts.bicep
  infrastructure/modules/dashboard.bicep
  infrastructure/modules/metric-alerts.bicep
  infrastructure/modules/security-alerts.bicep
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Shared/Middleware/SecurityHeadersMiddleware.cs
  src/Mystira.App.Shared/Telemetry/SecurityMetrics.cs
Due: unittests, API

Address remaining PR issues and add User Journey Analytics
  .github/workflows/mystira-app-admin-api-cicd-dev.yml
  .github/workflows/mystira-app-admin-api-cicd-staging.yml
  infrastructure/main.bicep
  infrastructure/modules/metric-alerts.bicep
  src/Mystira.App.Api/appsettings.Development.json
  src/Mystira.App.Shared/Telemetry/UserJourneyAnalytics.cs
Due: unittests, API

Fix final PR issues: secure dev config, register UserJourneyAnalytics, add dashboard widgets and alerts
  infrastructure/modules/dashboard.bicep
  infrastructure/modules/metric-alerts.bicep
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Admin.Api/appsettings.Development.json
  src/Mystira.App.Api/Program.cs
Due: unittests, API

Fix 16 issues from comprehensive PR review (Phases 1-4)
  .github/workflows/mystira-app-api-cicd-prod.yml
  infrastructure/modules/cosmos-alerts.bicep
  infrastructure/modules/metric-alerts.bicep
  infrastructure/modules/security-alerts.bicep
  src/Mystira.App.Admin.Api/Program.cs
  src/Mystira.App.Api/Program.cs
  src/Mystira.App.Shared/Middleware/CorrelationIdMiddleware.cs
  src/Mystira.App.Shared/Middleware/RequestLoggingMiddleware.cs
  src/Mystira.App.Shared/Telemetry/CustomMetrics.cs
  src/Mystira.App.Shared/Telemetry/SecurityMetrics.cs
  src/Mystira.App.Shared/Telemetry/UserJourneyAnalytics.cs
Due: unittests, API

Path conditions:
  unittests: any of: src/
  API: any of: src/Mystira.App.Api/**
  PWA: any of: src/Mystira.App.PWA/**
  Domain: any of: src/Mystira.App.Domain/**
  Application: any of: src/Mystira.App.Application/**
